<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %} {% load humanize %} {% load tags %}
{% block title %}RDPAC数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

<div class="ui hidden divider"></div>

<div class="ui container">
  <div id="pusher" class="pusher" style="padding-top: 50px">
    {% include 'rdpac/search_bar.html' %}
  </div>
  <div class="ui hidden divider"></div>
  {% block data %}{% endblock data %}
</div>

{% endblock body %}