<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}RDPAC数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div id="pusher" class="pusher" style="padding-top:50px">
        {% include 'rdpac/search_bar.html' %}
    </div>
    <div class="ui hidden divider"></div>
    {% if tc_iii %}
        <div class="ui huge breadcrumb">
            <a href="{% url "rdpac:index" %}" class="section">首页</a>
            <i class="right angle icon divider"></i>
            {{ tc_iii.code }} {{ tc_iii.name_cn }} {{ tc_iii.name_en }}
        </div>
        <div class="ui divider"></div>
        <div class="ui top attached tabular menu">
        <a class="active item" data-tab="tc_iii_performance">TC III表现</a>
        <a class="item" data-tab="tc_iii_contrib">销售构成</a>
        <a class="item" data-tab="tc_iii_products">产品表现</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="tc_iii_performance">
            <div class="row">
                <div class="sixteen wide column" id="chart_width">
                    <div class="ui red ribbon label">年度销售</div>
                    <table class="ui red selectable table">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>NetSales</th>
                                <th>NetSales Uplift</th>
                                <th>GR(y-1)</th>
                                <th>TC III % in RDPAC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in tc_iii.performance_matrix %}
                            <tr>
                                <td>{{ sale.year }}</td>
                                <td>{{ sale.netsales_value__sum|floatformat:"0" |intcomma }}</td>

                                {% if sale.annual_uplift %}
                                <td>{{ sale.annual_uplift|floatformat:"0" |intcomma }}</td>
                                {% else %}
                                <td>n/a</td>
                                {% endif %}

                                {% if sale.annual_gr %}
                                <td class="gr">{{ sale.annual_gr|percentage:0 }}</td>
                                {% else %}
                                <td>n/a</td>
                                {% endif %}

                                {% if sale.tc_iii_share %}
                                <td>{{ sale.tc_iii_share|percentage:0 }}</td>
                                {% else %}
                                <td>n/a</td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui horizontal segments">
                        <div class="ui purple segment" style="width: 50%">
                            <div class="ui purple ribbon label">营收趋势</div>
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="annual_performance" style="height:400px; width:100%"></div>
                        </div>
                        <div class="ui orange segment" style="width: 50%">
                            <div class="ui orange ribbon label">份额趋势</div>
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="tc_iii_share" style="height:400px; width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tc_iii_contrib">
            <div class="row">
                <div class="ui green ribbon label">销售构成 - {{ CURRENT_YEAR }}年</div>
                <div class="sixteen wide column">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="tc_iii_contrib" style="width: 100%; height: 800px"></div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tc_iii_products">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui blue ribbon label">产品表现</div>
                    <table class="ui blue selectable table">
                        <thead>
                            <tr>
                                <th rowspan=2>Molecule</th>
                                <th rowspan=2>Product</th>
                                <th rowspan=2>Company</th>
                                <th colspan=8>年度销售额（百万元）</th>
                            </tr>
                            <tr>
                                {% for i in 8|times%}
                                    <th>{{ i|add:2012 }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for drug_sale in tc_iii.drugs_sales %}
                            <tr>
                                <td width=10%>
                                    <div class="item">
                                        <div class="middle aligned content">
                                            <div class="header">
                                            <a href="{% url 'rdpac:drug_detail' drug_sale.drug_id %}">{{ drug_sale.drug.molecule_cn }}</a>
                                            </div>
                                            <div class="meta">
                                                <span class="molecule_en">{{ drug_sale.drug.molecule_en|truncatechars:20 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td width=10%>
                                    <div class="item">
                                        <div class="middle aligned content">
                                            <div class="header">
                                            {% if drug_sale.drug.product_name_cn %}
                                            {{ drug_sale.drug.product_name_cn }}
                                            {% else %}
                                            暂无中文商品名
                                            {% endif %}
                                            </div>
                                            <div class="meta">
                                            <span class="product_name_en">{{ drug_sale.drug.product_name_en|truncatechars:20 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="{% url 'rdpac:company_detail' drug_sale.company.pk %}"><img src="{{ drug_sale.company.logo.url }}" /></a></td>
                                <td align="right">{{ drug_sale.2013|change_unit }}</td>
                                <td align="right">{{ drug_sale.2014|change_unit }}</td>
                                <td align="right">{{ drug_sale.2015|change_unit }}</td>
                                <td align="right">{{ drug_sale.2016|change_unit }}</td>
                                <td align="right">{{ drug_sale.2017|change_unit }}</td>
                                <td align="right">{{ drug_sale.2018|change_unit }}</td>
                                <td align="right">{{ drug_sale.2019|change_unit }}</td>
                                <td align="right">{{ drug_sale.2020|change_unit }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>
</div>
<div class="ui hidden divider"></div>

<style>
    img {
        max-height: 30px;
        max-width: 100px;
        height: auto;
        width: auto;
    }
</style>

<script>
    function toPercent(str) {
        if (isNaN(str) === false) {
            var strP = Number(str * 100).toFixed(1);
            strP += "%";
        } else {
            strP = str;
        }
        return strP;
    }
</script>

<script>
    function colorMappingChange(value) {
        var levelOption = getLevelOption(value);
        chart.setOption({
            series: [{
                levels: levelOption
            }]
        });
    }

    var formatUtil = echarts.format;

    function getLevelOption() {
        return [
            {
                itemStyle: {
                    borderColor: '#777',
                    borderWidth: 0,
                    gapWidth: 1
                },
                upperLabel: {
                    show: false
                }
            },
            {
                itemStyle: {
                    borderColor: '#555',
                    borderWidth: 5,
                    gapWidth: 1
                },
                emphasis: {
                    itemStyle: {
                        borderColor: '#ddd'
                    }
                }
            },
            {
                colorSaturation: [0.35, 0.5],
                itemStyle: {
                    borderWidth: 2,
                    gapWidth: 1,
                    borderColorSaturation: 0.6
                }
            }
        ];
    }

    var data_tm = {{ tc_iii.drugs_in_company|safe }};
    console.log(data_tm)
    
    var width = $("#chart_width").width();
    $("#tc_iii_contrib").css("width", width)
    
    var chartTC3Contrib = echarts.init(document.getElementById('tc_iii_contrib'));
    option = {
        tooltip: {
            formatter: function (info) {
                var molecule = info.name;
                var product = info.data.product_name
                var sales = Number((info.value / 1000000).toFixed(0))

                return [
                    '<div class="tooltip-title">' + formatUtil.encodeHTML(molecule) + '</div>',
                    formatUtil.encodeHTML(product) + '<br>',
                    '2020营收: ' + formatUtil.addCommas(sales) + ' mil.',
                ].join('');
            }
        },

        series: [
            {
                name: "{{ tc_iii.name_cn }}",
                type: 'treemap',
                visibleMin: 300,
                label: {
                normal: {
                    position: 'inside',
                    formatter: function (params) {
                        var sales = Number((params.value / 1000000).toFixed(0))
                        var arr = [
                            '{name|' + params.name + '}',
                            '{hr|}',
                            '{sales|¥ ' + echarts.format.addCommas(sales) + '} {label|mil.}'
                        ];

                        return arr.join('\n');
                    },
                    rich: {
                        sales: {
                            fontSize: 16,
                            lineHeight: 30,
                            color: 'white'
                        },
                        household: {
                            fontSize: 14,
                            color: '#fff'
                        },
                        label: {
                            fontSize: 9,
                            backgroundColor: 'rgba(0,0,0,0.3)',
                            color: '#fff',
                            borderRadius: 2,
                            padding: [2, 4],
                            lineHeight: 25,
                            align: 'right'
                        },
                        name: {
                            fontSize: 12,
                            color: '#fff'
                        },
                        hr: {
                            width: '100%',
                            borderColor: 'rgba(255,255,255,0.2)',
                            borderWidth: 0.5,
                            height: 0,
                            lineHeight: 10
                        }
                    }
                }
            },
                upperLabel: {
                    show: true,
                    height: 30
                },
                itemStyle: {
                    borderColor: '#fff'
                },
                levels: getLevelOption(),
                data: data_tm
            }
        ]
    }
    chartTC3Contrib.setOption(option);
    
    {% comment %} // 监听点击事件
    window.addEventListener("click", function () {
        chartTC3Contrib.resize();
    });
    // 监听浏览器页面缩放事件
    window.addEventListener("resize", function () {
        chartTC3Contrib.resize();
    }); {% endcomment %}

</script>

<script>
    var years = [],
        netsales = [],
        annual_gr = [];
    {% for sale in tc_iii.performance_matrix %}
        years.push({{ sale.year }})
        netsales.push({{ sale.netsales_value__sum|floatformat:"0" }})
        {% if sale.annual_gr %}
            annual_gr.push({{ sale.annual_gr }})
        {% else %}
            annual_gr.push(null)
        {% endif %}
    {% endfor %}

    var chartAnnualPerformance = echarts.init(document.getElementById('annual_performance'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            },
            formatter: function (params) {
                let html = params[0].name + "<br>";
                for (let i = 0; i < params.length; i++) {
                    html += params[i].marker
                    if (params[i].seriesName == "年度增长率") {
                        html += params[i].seriesName + ": " + toPercent(params[i].value) + "<br>";
                    } else {
                        html += params[i].seriesName + ": " + params[i].value.toLocaleString() + "<br>";
                    }
                }
                return html;
            }
        },
        toolbox: {
            feature: {
                dataView: {
                    show: true,
                    readOnly: false
                },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        grid: {
            left: 100
        },
        legend: {
            data: ['年度纯销销售额', '年度增长率'],
            y: 'bottom',
        },
        xAxis: [{
            type: 'category',
            data: years,
            axisPointer: {
                type: 'shadow'
            },
        }],
        yAxis: [{
                type: 'value',
                name: '￥',
                    splitLine: {
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return value.toLocaleString()
                    }
                },
            },
            {
                type: 'value',
                name: '%',
                splitLine: {
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return toPercent(value)
                    }
                },
                axisPointer: {
                    label: {
                        // 文本标签文字的格式化器
                        formatter: function (params) {
                            return toPercent(params.value)
                        }
                    },
                },
            }
        ],
        series: [{
                name: '年度纯销销售额',
                type: 'bar',
                data: netsales
            },
            {
                name: '年度增长率',
                type: 'line',
                yAxisIndex: 1,
                data: annual_gr,
            }
        ]
    };
    chartAnnualPerformance.setOption(option);
</script>
<script>
    var years = [],
        tc_iii_share = [];
    {% for sale in tc_iii.performance_matrix %}
        years.push({{ sale.year }})
        {% if sale.tc_iii_share %}
            tc_iii_share.push({{ sale.tc_iii_share }})
        {% else %}
            tc_iii_share.push(null)
        {% endif %}
    {% endfor %}

    var chartAnnualContrib = echarts.init(document.getElementById('tc_iii_share'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            },
            formatter: function (params) {
                let html = params[0].name + "<br>";
                for (let i = 0; i < params.length; i++) {
                    html += params[i].marker
                    if (params[i].seriesName == "TC III销售份额（占RDPAC整体）") {
                        html += params[i].seriesName + ": " + toPercent(params[i].value) + "<br>";
                    } else {
                        html += params[i].seriesName + ": " + params[i].value.toLocaleString() + "<br>";
                    }
                }
                return html;
            }
        },
        toolbox: {
            feature: {
                dataView: {
                    show: true,
                    readOnly: false
                },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        grid: {
            left: 100
        },
        legend: {
            data: ['公司销售份额（占RDPAC整体）'],
            y: 'bottom',
        },
        label: {
            show: true,
            position: 'top',
            color: "black",
            fontSize: 12,
            formatter: function (data) {
                return toPercent(data.value)
            }
        },
        xAxis: [{
            type: 'category',
            data: years,
            axisPointer: {
                type: 'shadow'
            },
            axisPointer: {
                link: {xAxisIndex: 'all'},
                label: {
                    // 文本标签文字的格式化器
                    formatter: function (params) {
                        return params.value
                    }
                },
            },
        }],
        yAxis: [{
                type: 'value',
                name: '%',
                max: function (value) {
                    return (value.max + 0.1 * (value.min)).toFixed(2);
                },
                min: function (value) {
                    return (value.min - 0.1 * (value.min)).toFixed(2);
                },
                minInterval: 1,
                splitLine: {
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return toPercent(value)
                    }
                },
            }
        ],
        series: [{
                name: '公司销售份额（占RDPAC整体）',
                type: 'line',
                data: tc_iii_share
            },
        ]
    };
    chartAnnualContrib.setOption(option);
</script>
<script>
  $(document).ready(function () {
    $('.menu .item')
      .tab()
    ;
    $('.gr:contains("-")').css('color', 'red');
    $('.gr:not(:contains("-"))').css('color', 'green');
    $('.gr:contains("n/a")').css('color', 'black');
  });
</script>
{% endblock body %}