<!-- extends表明此页面继承自 index.html 文件 -->
{% extends "rdpac/index.html" %} {% load humanize %} {% load tags %}

{% block data %}

<div class="ui huge breadcrumb">
    <a href="{% url "rdpac:index" %}" class="section">首页</a>
    <i class="right angle icon divider"></i>
    <span>TC III表现一览</span>
</div>

{% include "rdpac/tc_iii_panel.html" %}

<div class="ui hidden divider"></div>
<style>
    .quick.link {
        color: #e9e9e9;
        cursor: pointer;
    }

    .quick.link:hover {
        color: #0d71bb;
        cursor: pointer;
    }

    .green {
        color: green;
    }

    .red {
        color: red;
    }
</style>
<style>
    img {
        max-height: 30px;
        max-width: 100px;
        height: auto;
        width: auto;
    }
</style>
<script>
    $(document).ready(function () {
        $('.gr:contains("-")').css('color', 'red');
        $('.gr:not(:contains("-"))').css('color', 'green');
        $('.gr:contains("n/a")').css('color', 'black');
    });
</script>

{% endblock data %}