# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Data
.csv
.xlsx
.xls

data.pkl
internal_sales/migrations/0001_initial.py
internal_sales/migrations/0002_auto_20210114_1146.py
internal_sales/migrations/0003_product.py
internal_sales/migrations/0004_bu_dsm_name_rd_rm_name_rsp_name.py
internal_sales/migrations/0005_level.py
result.csv
vbp/migrations/0001_initial.py
vbp/migrations/0002_remove_tender_bidder_num.py
vbp/migrations/0003_auto_20200728_1408.py
vbp/migrations/0004_auto_20200731_1149.py
vbp/migrations/0005_auto_20200731_1401.py
vbp/migrations/0006_auto_20200821_1441.py
vbp/migrations/0007_auto_20200824_1013.py
"\344\270\211\345\220\210\344\270\200\351\224\200\345\224\256\346\212\245\350\241\250/~$\344\270\211\345\220\210\344\270\200\350\241\250\345\215\201\344\272\214\346\234\210\345\210\235\347\211\210.xlsx"
"\344\270\211\345\220\210\344\270\200\351\224\200\345\224\256\346\212\245\350\241\250/"
三合一销售报表/
vbp_amount.xlsx
vbp.xlsx
internal_sales/migrations/0006_auto_20210127_1447.py