<div class="header">
    添加纪录
</div>
<div class="content">
    <div class="ui form">
        <div class="field">
            <label>集采标的</label>
            <div class="two fields">
                <div class="field">
                    <label>State</label>
                    <select class="ui fluid dropdown">
                    <option value="">请选择一个集采标的</option>
                    </select>
                </div>
                <div class="field">
                    <input type="text" name="shipping[last-name]" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Billing Address</label>
            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" name="shipping[address]" placeholder="Street Address">
                </div>
                <div class="four wide field">
                    <input type="text" name="shipping[address-2]" placeholder="Apt #">
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>State</label>
            </div>
            <div class="field">
                <label>State</label>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div class="ui black deny button">
        Nope
    </div>
    <div class="ui positive right labeled icon button">
        Yep, that's me
        <i class="checkmark icon"></i>
    </div>
</div>


<script>
    $('.ui.fluid.search.selection.dropdown')
      .dropdown({ fullTextSearch: true });
</script>

