<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div id="pusher" class="pusher" style="padding-top:50px">
            {% if bid %}
                <div class="ui huge breadcrumb">
                    <a href="{% url "vbp:index" %}" class="section">首页</a>
                    <i class="right angle icon divider"></i>
                    <a href="{% url "vbp:tender_detail" bid.tender.pk %}"
                       class="section">{{ bid.tender }}</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{ bid.bidder }}</div>
                </div>
                <div class="ui celled grid">
                    <div class="row">
                        <div class="ui hidden divider"></div>
                        <div class="sixteen wide column">
                            <div class="ui hidden divider"></div>
                            <div class="ui three tiny statistics">
                                <div class="statistic">
                                    <div class="value">
                                        <abbr title="{{ bid.tender.target }}">{{ bid.tender.target|truncatechars:7 }}</abbr>
                                    </div>
                                    <div class="label">
                                        标的
                                    </div>
                                </div>
                                <div class="statistic">
                                    <div class="value">
                                        {{ bid.bidder }}
                                    </div>
                                    <div class="label">
                                        竞标厂商
                                    </div>
                                </div>
                                <div class="{% if bid.region_volume.all %}green {% else %}red {% endif %}statistic">
                                    <div class="value">
                                        {% if bid.region_volume.all %}中标{% else %}落标{% endif %}
                                    </div>
                                    <div class="label">
                                        是否中标
                                    </div>
                                </div>
                            </div>
                            <div class="ui hidden divider"></div>
                            <div class="ui three tiny statistics">
                                <div class="statistic">
                                    <div class="value">
                                        &yen{{ bid.bid_price|fix_decimal:2 }}
                                    </div>
                                    <div class="label">
                                        竞标价
                                    </div>
                                </div>
                                <div class="red statistic">
                                    <div class="value">
                                        {% if bid.original_price %}
                                            {{ bid.price_cut|percentage:0 }}
                                        {% else %}
                                            未知
                                        {% endif %}
                                    </div>
                                    <div class="label">
                                        降价幅度
                                    </div>
                                </div>
                                <div class="statistic">
                                    <div class="value">
                                        {{ bid.value_win|fix_decimal:0 }}万
                                    </div>
                                    <div class="label">
                                        预计年销售额获取
                                    </div>
                                </div>
                            </div>
                            <div class="ui hidden divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight wide column">
                            <table class="ui celled table" id="table">
                                <thead>
                                <tr>
                                    <th>中标区域</th>
                                    {% for spec in bid.tender.get_specs %}
                                        <th>{{ spec }}中标量（万）</th>
                                    {% endfor %}
                                    {% if bid.tender.specs_num > 1 %}
                                        <th>合计中标量（折算为{{ bid.tender.main_spec }}）</th>
                                    {% endif %}
                                    <th>整体占比</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for region in bid.regions_win %}
                                    <tr>
                                        <td style="width: 20%">{{ region }}</td>
                                        {% for spec in bid.tender.get_specs %}
                                            <td>{% volume_win bid spec region %}</td>
                                        {% endfor %}
                                        {% if bid.tender.specs_num > 1 %}
                                            <td style="width: 20%">{% volume_win bid=bid region=region %}</td>
                                        {% endif %}
                                        <td style="width: 20%">{% volume_win_percentage bid region %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>总计</th>
                                    {% for spec in bid.tender.get_specs %}
                                        <th>{% volume_win bid=bid spec=spec %}</th>
                                    {% endfor %}
                                    {% if bid.tender.specs_num > 1 %}
                                        <th style="width: 20%">{% volume_win bid=bid %}</th>
                                    {% endif %}
                                    <th style="width: 20%">{% volume_win_percentage bid=bid %}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="map" style="height:400px"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>

    <script>
        $(document).on('click', 'th', function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr').not('thead tr, tfoot tr').toArray().sort(comparer($(this).index()));
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            table.children('tbody').empty().html(rows);
        });

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                    valA - valB : valA.localeCompare(valB);
            };
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    </script>
    <script>
        function arrToObject(arr) {
            var strJs = '({';
            for (var i = 0; i < arr.length; i += 1) {
                var as = arr[i].split("=");
                strJs = strJs + as[0] + ':' + '"' + as[1] + '"' + ',';
            }
            strJs = strJs.substr(0, strJs.length - 1) + '})';
            return eval(strJs);
        }
    </script>
    <script type="text/javascript">
        var data = [];
        {% for region in bid.regions_win %}
            var region = '{{ region }}';
            if (region === '新疆（含兵团）') {
                region = '新疆'
            }
            var region_data = {
                name: region,
                selected: true,
                value: '{% volume_win_percentage bid region %}'
            };
            data.push(region_data);
        {% endfor %}
        console.log(data);

        var myChart = echarts.init(document.getElementById('map'));
        option = {
            tooltip: {
                trigger: 'item',
                // formatter: '{b}{c}',
                formatter: function (params) {
                    // console.log(params);
                    if (params.data.value == undefined || params.data.value == '-') {
                        params.data.value = 0;
                    }
                    return params.data.name + '<br>' + params.data.value;
                },
            },
            series: [{
                name: '中国',
                type: 'map',
                mapType: 'china',
                selectedMode: false,//single 表示单选;multiple表示多选 默认flase不选
                itemStyle: {
                    normal: {
                        label: {
                            show: false,//默认是否显示省份名称
                        },
                        areaStyle: {
                            color: '#f3f3f3',//默认的地图板块颜色
                        },
                        borderWidth: 1,
                        borderColor: '#e1e1e1',
                    },
                    emphasis: {
                        label: {
                            show: true,//选中状态是否显示省份名称
                        },
                    },
                },
                //此为加载的数据
                data: data
            }]
        };

        myChart.setOption(option);

    </script>

{% endblock body %}





