<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div id="pusher" class="pusher" style="padding-top:50px">
        <div class="gantt"></div>
    </div>
</div>
<div class="ui hidden divider"></div>

<script>
    $(function () {
        $(".gantt").gantt({
            source: {{ source|safe }},
            navigate: "scroll",
            scale: "months",
            maxScale: "months",
            minScale: "months",
            itemsPerPage: 10,
            waitText: "数据处理中，请稍后",
            scrollToToday: true,
            useCookie: true,
            onItemClick: function (data) {
                url_mask = "{% url 'vbp:tender_detail' 1234 %}".replace(/1234/, data.id.toString())
                window.location.href = url_mask
            },
            onRender: function () {
                if (window.console && typeof console.log === "function") {
                    console.log("chart rendered");
                }
            }
        });
    });
</script>

{% endblock body %}