<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title%}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div id="pusher" class="pusher" style="padding-top:50px">
{#        <h2 class="ui blue dividing header">管理数据</h2>#}
{#        <div class="ui blue button" id="button_add">添加新记录</div>#}
        {% if tenders %}
            <table class="ui celled table" id="client-selected">
                <thead>
                <tr>
                    <th style="display:none">id</th>
                    <th>带量品种</th>
                    <th>带量批次</th>
                    <th>合同量<br>（折算主规格）</th>
                    <th>标期开始</th>
                    <th>标期</th>
                    <th>竞标结果</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for tender in tenders %}
                <tr>
                    <td style="display:none">{{ tender.pk }}</td>
                    <td style="width: 15%">
                        <h3 class="ui center aligned header">{{ tender.target }}</h3>
                        {% for spec in tender.get_specs %}
                            {{ spec }}
                        {%  endfor %}
                    </td>
                    <td>
                        {{ tender.vol }}
                    </td>
                    <td>
                        {{ tender.total_std_volume_contract|fix_decimal:0 }}万
                        {% if tender.specs_num > 1 %}
                            <br><u>折算为{{ tender.main_spec }}</u>
                        {% endif %}
                    </td>
                    <td style="width: 100px">{{ tender.tender_begin|date:'Y年m月' }}</td>
                    <td style="width: 100px">{{ tender.tender_period }}年</td>
                    <td>
                        {% if tender.bid_set.all %}
                            <div class="ui divided selection list">
                                {% for bid in tender.bid_set.all %}
                                    <a href="{% url 'vbp:bid_detail' bid.pk  %}" class="item">
                                        <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated label">
                                            {{ bid.bid_price|fix_decimal:2 }}
                                        </div>
                                        {% if bid.original_price %}
                                        <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated basic label">
                                            {{ bid.price_cut|percentage}}
                                        </div>
                                        {% endif %}
                                        <div class="middle aligned content">
                                            {{ bid.bidder.name }}
                                            {% if bid.origin %}<i class="star icon"></i>{% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            没有填写竞标者
                        {% endif %}
                    </td>
                    <td style="width: 100px">
                        <a href="{% url 'vbp:tender_detail' tender.pk %}">详情</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
<div class="ui hidden divider"></div>

<script>
$('#button_add').click(function(){
    $('#modal_add').modal('show')
})

</script>
{% endblock body %}





