<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div id="pusher" class="pusher" style="padding-top:50px">
            {% if tender %}
                <div class="ui huge breadcrumb">
                    <a href="{% url "vbp:index" %}" class="section">首页</a>
                    <i class="right angle icon divider"></i>
                    <div href="{% url "vbp:tender_detail" tender.pk %}" class="section"
                         class="active section">{{ tender }}</div>
                </div>
                <div class="ui celled grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <a class="ui blue ribbon label">基本信息</a>
                            <table class="ui celled blue table" id="client-selected">
                                <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>带量品种</th>
                                    <th>带量批次</th>
                                    <th>带量比例</th>
                                    <th>品种总体<br>协议量<br>（折算为一种规格）</th>
                                    <th>品种总体<br>协议金额<br>（按中标价）</th>
                                    <th>标期开始</th>
                                    <th>标期</th>
                                    <th>竞标结果</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="display:none">{{ tender.pk }}</td>
                                    <td style="width: 15%">
                                        <h3 class="ui center aligned header">{{ tender.target }}</h3>
                                        {% for spec in tender.get_specs %}
                                            {{ spec }}<br />
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ tender.vol }}
                                    </td>
                                    <td style="width: 50px">{{ tender.proc_percentage|percentage:0 }}</td>
                                    <td style="width: 100px">
                                        {{ tender.total_std_volume_contract|fix_decimal:0 }}万
                                        {% if tender.specs_num > 1 %}
                                            <br><u>折算为{{ tender.main_spec }}</u>
                                        {% endif %}
                                    </td>
                                    <td style="width: 100px">
                                        {{ tender.total_value_contract|fix_decimal:0 }}万
                                    </td>
                                    <td style="width: 70px">{{ tender.tender_begin|date:'Y年m月' }}</td>
                                    {% if tender.tender_period is None %}
                                        <td style="width: 50px">至{{ tender.tender_end|date:'Y年m月' }}</td>
                                    {% else %}
                                        <td style="width: 50px">{{ tender.tender_period }}年</td>
                                    {% endif %}
                                    <td style="width: 30%">
                                        {% if tender.bids.all %}
                                            <div class="ui divided selection list">
                                                {% for bid in tender.bids.all|order_by_std_price %}
                                                    {% if bid.bid_price == 99999 %}
                                                        <a href="{% url 'vbp:bid_detail' bid.pk %}" class="item">
                                                            <div class="ui red horizontal left floated label">
                                                                未披露
                                                            </div>
                                                            <div class="middle aligned content">
                                                                {{ bid.bidder.abbr_name }}
                                                                {% if bid.origin %}<i class="star icon"></i>{% endif %}
                                                            </div>
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'vbp:bid_detail' bid.pk %}" class="item">
                                                            <div class="ui horizontal left floated label">
                                                                {{ bid.bid_spec }}
                                                            </div>
                                                            <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated label">
                                                                &yen{{ bid.bid_price|fix_decimal:2 }}
                                                            </div>
                                                            <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated basic label">
                                                                {{ bid.price_cut_to_ceiling|percentage }}
                                                            </div>
                                                            <div class="middle aligned content">
                                                                {{ bid.bidder.abbr_name }}
                                                                {% if bid.origin %}<i class="star icon"></i>{% endif %}
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            没有填写竞标者
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen wide column">
                            <a class="ui red ribbon label">省份轮选</a>
                            <div class="ui horizontal segments">
                                <div class="ui red segment" style="width: 50%">
                                    <div id="map" style="height:400px"></div>
                                </div>
                                <div class="ui pink segment" style="width: 50%">
                                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                                    <div id="pieVolume" style="height:400px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>显示区域详细数据</label>
                            </div>
                            <table class="ui celled compact green table" id="table">
                                <thead>
                                <tr>
                                    <th>区域<i class="sort icon"></i></th>
                                    {% for bid in tender.winners %}
                                        <th><a href="{% url 'vbp:bid_detail' bid.pk %}">{{ bid.bidder.abbr_name }}</a><i
                                                class="sort icon"></i></th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for region in tender.regions %}
                                    <tr>
                                        <td>{{ region }}</td>
                                        {% for bid in tender.winners %}
                                            <td>{% volume_win bid=bid region=region %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot style="background-color: #f9fafb">
                                <tr>
                                    <th>区域</th>
                                    {% for bid in tender.winners %}
                                        <th>{% volume_win bid=bid %}</th>
                                    {% endfor %}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen wide column">
                            <a class="ui teal ribbon label">预估销售</a>
                            <div class="ui horizontal segments">
                                <div class="ui teal segment" style="width: 50%">
                                    <div id="scatter" style="height:400px"></div>
                                </div>
                                <div class="ui green segment" style="width: 50%">
                                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                                    <div id="pieValue" style="height:400px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>

    <script>
        $(document).on('click', '.sort.icon', function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr').not('thead tr, tfoot tr').toArray().sort(comparer($(this).parents('th').index()));
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            table.children('tbody').empty().html(rows);
        });

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                    valA - valB : valA.localeCompare(valB);
            };
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    </script>
    <script>
        function arrToObject(arr) {
            var strJs = '({';
            for (var i = 0; i < arr.length; i += 1) {
                var as = arr[i].split("=");
                strJs = strJs + as[0] + ':' + '"' + as[1] + '"' + ',';
            }
            strJs = strJs.substr(0, strJs.length - 1) + '})';
            return eval(strJs);
        }
    </script>
    <script type="text/javascript">
        COLORLIST = ['navy', 'crimson', 'darkgreen', 'darkorange', 'saddlebrown', 'deepskyblue', 'pink', 'olivedrab', "gold", "violet"];

        // 省份轮选地图
        var d = {};
        var splitList = [];
        i = 0;
        {% for bid in tender.winners|order_by_std_price:False %}
            d['{{ bid }}'] = i;

            var split_options = {
                start: i,
                end: i,
                label: '{{ bid.bidder.abbr_name }}',
                color: COLORLIST[i]
            };
            splitList.push(split_options);
            i += 1;
        {% endfor %}

        var mapData = [];
        {% for region in tender.regions %}
            var region = '{{ region }}';
            if (region === '新疆(含兵团)') {
                region = '新疆'
            }
            var region_data = {
                name: region,
                selected: true,
                value: d['{% winner tender region %}'],
                volume: '{% region_std_volume tender region %}'
            };

            mapData.push(region_data);
        {% endfor %}

        var map = echarts.init(document.getElementById('map'));
        option = {
            tooltip: {
                trigger: 'item',
                // formatter: '{b}{c}',
                formatter: function (params) {
                    // console.log(params);
                    if (params.data.volume == undefined || params.data.volume == '-') {
                        params.data.volume = 0;
                    }
                    return params.data.name + '<br>' + params.data.volume;
                },
            },
            dataRange: {
                x: 'left',
                y: 'bottom',
                splitList: splitList,
            },
            series: [{
                name: '中国',
                type: 'map',
                mapType: 'china',
                selectedMode: false,//single 表示单选;multiple表示多选 默认flase不选
                itemStyle: {
                    normal: {
                        label: {
                            show: false,//默认是否显示省份名称
                        },
                        borderWidth: 1,
                        borderColor: '#e1e1e1',
                    },
                    emphasis: {
                        areaColor: null,
                        label: {
                            show: false,//选中状态是否显示省份名称
                        },
                    },
                },
                //此为加载的数据
                data: mapData
            }]
        };
        map.setOption(option);

        // 销售量份额饼图
        var pieVolumeData = [];
        legendData = [];
        {% for bid in tender.winners|order_by_std_price:False %}
            bidValue = '{{ bid.std_volume_win }}';
            bidValue = Number(bidValue).toFixed(1);
            bidData = {
                'value': bidValue,
                'name': '{{ bid.bidder.abbr_name }}'
            };
            legendData.push('{{ bid.bidder.abbr_name }}');
            pieVolumeData.push(bidData);
        {% endfor %}
        console.log(pieVolumeData);

        var pieVolume = echarts.init(document.getElementById('pieVolume'));

        option = {
            title: {
                text: '预估协议量份额',
                left: 'center',
                y: '57.5%',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: legendData
            },
            series: [
                {
                    name: '份额获取',
                    type: 'pie',
                    radius: ['35%', '50%'],
                    center: ['50%', '60%'],
                    avoidLabelOverlap: true,
                    label: {
                        formatter: '{c} ({d}%)',
                        position: 'outer',
                        alignTo: 'labelLine',
                        margin: 20,
                    },
                    labelLine: {
                        show: true
                    },
                    data: pieVolumeData,
                    itemStyle: {
                        emphasis: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        },
                        normal: {
                            color: function (params) {
                                //自定义颜色
                                return COLORLIST[params.dataIndex]
                            }
                        }
                    }
                }
            ]
        };
        pieVolume.setOption(option);

        // 份额versus价格散点图
        var scatter = echarts.init(document.getElementById('scatter'));
        var scatterData = []; nameData = [];
        {% for bid in tender.winners|order_by_std_price:False %}
            bidValue = '{{ bid.std_volume_win }}';
            bidValue = Number(bidValue).toFixed(1);
            bidPrice = '{{ bid.std_price }}';
            bidPrice = Number(bidPrice).toFixed(2);
            bidData = [bidValue, bidPrice];
            scatterData.push(bidData);
            nameData.push('{{ bid.bidder.abbr_name }}');
        {% endfor %}

        option = {
            title: {
                text: '竞标价 versus 获取量',
                left: 'center',
                top: 10
            },
            xAxis: {
                scale: true,
                name: '获取协议量',
                nameLocation: 'middle',
                nameGap: 30,
            },
            yAxis: {
                scale: true,
                name: '竞标价（折算后）',
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    return nameData[params.dataIndex] + '<br> 获取协议量：' + params.data[0] + '万<br> 竞标价（折算后）：' + params.data[1] + '元';
                },
            },
            series: [{
                type: 'scatter',
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            position: 'inside',
                            formatter: function (params) {
                                //自定义颜色
                                return params.dataIndex + 1
                            }
                        },
                        color: function (params) {
                            //自定义颜色
                            return COLORLIST[params.dataIndex]
                        },
                    },
                },
                symbolSize:30,
                data: scatterData
            }]
        };

        scatter.setOption(option);

        // 销售额份额饼图
        var pieValueData = [];
        legendData = [];
        {% for bid in tender.winners|order_by_std_price:False %}
            bidValue = '{{ bid.value_win }}';
            bidValue = Number(bidValue).toFixed(1);
            bidData = {
                'value': bidValue,
                'name': '{{ bid.bidder.abbr_name }}'
            };
            legendData.push('{{ bid.bidder.abbr_name }}');
            pieValueData.push(bidData);
        {% endfor %}
        console.log(pieValueData);

        var pieValue = echarts.init(document.getElementById('pieValue'));

        option = {
            title: {
                text: '预估销售额份额',
                left: 'center',
                y: '57.5%',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: legendData
            },
            series: [
                {
                    name: '份额获取',
                    type: 'pie',
                    radius: ['35%', '50%'],
                    center: ['50%', '60%'],
                    avoidLabelOverlap: true,
                    label: {
                        formatter: '{c} ({d}%)',
                        position: 'outer',
                        alignTo: 'labelLine',
                        margin: 20,
                    },
                    labelLine: {
                        show: true
                    },
                    data: pieValueData,
                    itemStyle: {
                        emphasis: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        },
                        normal: {
                            color: function (params) {
                                //自定义颜色
                                return COLORLIST[params.dataIndex]
                            }
                        }
                    }
                }
            ]
        };
        pieValue.setOption(option);
    </script>
    <script>
        $(document).ready(function () {
            $("#table").hide();
            $('.ui.toggle').click(function () {
                $("#table").toggle()
            });
        });
    </script>

{% endblock body %}





