<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div id="pusher" class="pusher" style="padding-top:50px">
            <div class="ui inverted segment">
                <form method="get" action="{% url 'vbp:search' %}" class="ui inverted fluid form">
                    {% csrf_token %}
                    <div class="field">
                        <div class="ui action input">
                            <input type="search" name="kw" placeholder="请输入关键字进行搜索——如：批次/标的通用名/竞标公司名" required>
                            <button type="submit" class="ui blue submit button">搜索</button>
                        </div>
                    </div>
                    常用关键字：<a class="quick link">扩围</a>;
                    <a class="quick link">第二轮</a>;
                    <a class="quick link">信立泰</a>;
                    <a class="quick link">华海</a>;
                    <a class="quick link">正大天晴</a>;
                    <a class="quick link">石药</a>;
                    <a class="quick link">拜耳</a>;
                    <a class="quick link">氯吡格雷</a>;
                    <a class="quick link">奥美沙坦</a>
                </form>
            </div>
            {% if tenders %}
                <div class="ui dividing header">
                    {% if kw %}
                        <a href="{% url 'vbp:index' %}">所有标的</a> - 搜索关键字 "{{ kw }}" 结果 - 共{{ tenders.count }}条记录
                    {% else %}
                        所有标的 - 共{{ tenders.count }}条记录
                    {% endif %}
                </div>
                <div class="ui compact menu">
                    <div class="ui simple dropdown item">
                        导出数据至Excel
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{% url 'vbp:export' 'tender' tenders|objs_id_to_string %}">导出基本信息</a>
                            <a class="item" href="{% url 'vbp:export' 'volume' tenders|objs_id_to_string %}">导出区域中标合同量数据</a>
                        </div>
                    </div>
                </div>
                <table class="ui celled table" id="client-selected">
                    <thead>
                    <tr>
                        <th style="display:none">id</th>
                        <th>带量品种</th>
                        <th>带量批次</th>
                        <th>合同量<br>（折算主规格）</th>
                        <th>标期开始</th>
                        <th>标期</th>
                        <th>最高限价</th>
                        <th>竞标结果</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tender in tenders %}
                        <tr>
                            <td style="display:none">{{ tender.pk }}</td>
                            <td style="width: 15%">
                                <h3 class="ui center aligned header">{{ tender.target }}</h3>
                                {% for spec in tender.get_specs %}
                                    {{ spec }}
                                {% endfor %}
                            </td>
                            <td>
                                {{ tender.vol }}
                            </td>
                            <td>
                                {{ tender.total_std_volume_contract|fix_decimal:0 }}万
                                {% if tender.specs_num > 1 %}
                                    <br><u>折算为{{ tender.main_spec }}</u>
                                {% endif %}
                            </td>
                            <td style="width: 100px">{{ tender.tender_begin|date:'Y年m月' }}</td>
                            <td style="width: 100px">{{ tender.tender_period }}年</td>
                            <td style="width: 100px">&yen{{ tender.ceiling_price }}</td>
                            <td style="width: 30%">
                                {% if tender.bids.all %}
                                    <div class="ui divided selection list">
                                        {% for bid in tender.bids.all %}
                                            <a href="{% url 'vbp:bid_detail' bid.pk %}" class="item">
                                                <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated label">
                                                    &yen{{ bid.bid_price|fix_decimal:2 }}
                                                </div>
                                                {% if bid.original_price %}
                                                    <div class="{% if bid.is_winner %}ui green{% else %}ui red{% endif %} horizontal left floated basic label">
                                                        {{ bid.price_cut|percentage }}
                                                    </div>
                                                {% endif %}
                                                <div class="middle aligned content">
                                                    {{ bid.bidder.abbr_name }}
                                                    {% if bid.origin %}<i class="star icon"></i>{% endif %}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    没有填写竞标者
                                {% endif %}
                            </td>
                            <td style="width: 100px">
                                <a href="{% url 'vbp:tender_detail' tender.pk %}">详情</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="ui error message">
                    没有搜索到符合条件的记录
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>

    <script>
        $('#button_add').click(function () {
            $('#modal_add').modal('show')
        })
    </script>
    <script>
        $('.quick.link').click(function () {
            var url = '{% url 'vbp:search' %}'+ '?' + $.param({'kw':this.text}, true);
            window.location.href = url;
        })
    </script>
    <style>
    .quick.link{
        color: #e9e9e9;
        cursor:pointer;
    }

    .quick.link:hover{
        color: #0d71bb;
        cursor:pointer;
    }
    </style>
{% endblock body %}





