<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load humanize %}
{% load tags %}

{% block title %}带量采购数据平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div id="pusher" class="pusher" style="padding-top:50px">
            {% if tender %}
                <div class="ui huge breadcrumb">
                    <a href="{% url "vbp:index" %}" class="section">首页</a>
                    <i class="right angle icon divider"></i>
                    <div href="{% url "vbp:tender_detail" tender.pk %}" class="section"
                         class="active section">{{ tender }}</div>
                </div>
                <div class="ui celled grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <div class="ui hidden divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight wide column">
                            <table class="ui celled compact green table" id="table">
                                <thead>
                                <tr>
                                    <th>区域<i class="sort icon"></i></th>
                                    {% for bid in tender.winners %}
                                        <th><a href="{% url 'vbp:bid_detail' bid.pk %}">{{ bid.bidder }}</a><i
                                                class="sort icon"></i></th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for region in tender.regions %}
                                    <tr>
                                        <td>{{ region }}</td>
                                        {% for bid in tender.winners %}
                                            <td>{% volume_win bid=bid region=region %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot style="background-color: #f9fafb">
                                <tr>
                                    <th>区域</th>
                                    {% for bid in tender.winners %}
                                        <th>{% volume_win bid=bid %}</th>
                                    {% endfor %}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <div class="ui segments">
                                <div class="ui red segment">
                                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                                    <div id="pie" style="height:400px"></div>
                                </div>
                                <div class="ui blue segment">
                                    <div id="map" style="height:400px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>

    <script>
        $(document).on('click', '.sort.icon', function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr').not('thead tr, tfoot tr').toArray().sort(comparer($(this).parents('th').index()));
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            table.children('tbody').empty().html(rows);
        });

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                    valA - valB : valA.localeCompare(valB);
            };
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    </script>
    <script>
        function arrToObject(arr) {
            var strJs = '({';
            for (var i = 0; i < arr.length; i += 1) {
                var as = arr[i].split("=");
                strJs = strJs + as[0] + ':' + '"' + as[1] + '"' + ',';
            }
            strJs = strJs.substr(0, strJs.length - 1) + '})';
            return eval(strJs);
        }
    </script>
    <script type="text/javascript">
        COLORLIST = ['navy', 'crimson', 'darkgreen', 'darkorange', 'saddlebrown', 'deepskyblue', 'pink', 'olivedrab',];

        // 省份轮选地图
        var d = {};
        var splitList = [];
        i = 0;
        {% for bid in tender.winners %}
            d['{{ bid }}'] = i;

            var split_options = {
                start: i,
                end: i,
                label: '{{ bid.bidder.name }}',
                color: COLORLIST[i]
            };
            splitList.push(split_options);
            i += 1;
        {% endfor %}

        var mapData = [];
        {% for region in tender.regions %}
            var region = '{{ region }}';
            if (region === '新疆（含兵团）') {
                region = '新疆'
            }
            var region_data = {
                name: region,
                selected: true,
                value: d['{% winner tender region %}'],
                volume: '{% region_std_volume tender region %}'
            };
            mapData.push(region_data);
        {% endfor %}

        var map = echarts.init(document.getElementById('map'));
        option = {
            tooltip: {
                trigger: 'item',
                // formatter: '{b}{c}',
                formatter: function (params) {
                    // console.log(params);
                    if (params.data.volume == undefined || params.data.volume == '-') {
                        params.data.volume = 0;
                    }
                    return params.data.name + '<br>' + params.data.volume;
                },
            },
            dataRange: {
                x: 'left',
                y: 'bottom',
                splitList: splitList,
            },
            series: [{
                name: '中国',
                type: 'map',
                mapType: 'china',
                selectedMode: false,//single 表示单选;multiple表示多选 默认flase不选
                itemStyle: {
                    normal: {
                        label: {
                            show: false,//默认是否显示省份名称
                        },
                        borderWidth: 1,
                        borderColor: '#e1e1e1',
                    },
                    emphasis: {
                        areaColor: null,
                        label: {
                            show: false,//选中状态是否显示省份名称
                        },
                    },
                },
                //此为加载的数据
                data: mapData
            }]
        };
        map.setOption(option);

        // 份额饼图
        var pieData = []; legendData = [];
        {% for bid in tender.winners %}
            bidValue = '{{ bid.std_volume_win }}';
            bidValue = Number(bidValue).toFixed(1);
            bidData = {
                'value': bidValue,
                'name': '{{ bid.bidder.name }}'
            };
            legendData.push('{{ bid.bidder.name }}');
            pieData.push(bidData);
        {% endfor %}
        console.log(pieData);

        var pie = echarts.init(document.getElementById('pie'));

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data:legendData
            },
            series: [
                {
                    name: '份额获取',
                    type: 'pie',
                    radius: ['35%', '50%'],
                    center: ['50%', '60%'],
                    avoidLabelOverlap: true,
                    label: {
                        formatter: '{c} ({d}%)',
                        position: 'outer',
                        alignTo: 'labelLine',
                        margin: 20,
                    },
                    labelLine: {
                        show: true
                    },
                    data: pieData,
                    itemStyle: {
                        emphasis: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        },
                        normal: {
                            color: function (params) {
                                //自定义颜色
                                return COLORLIST[params.dataIndex]
                            }
                        }
                    }
                }
            ]
        };
        pie.setOption(option);
    </script>

{% endblock body %}





