<!-- 载入静态文件 -->
{% load static %}

<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title%}</title>
    <!-- DataTables Semantic UI主题的CSS -->
    <link rel="stylesheet" href="{% static 'datatables/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'Semantic-UI-CSS-master/semantic.min.css' %}">
    <script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'jquery/jquery.sparkline.min.js' %}"></script>
    <!-- DataTables 主JS -->
    <script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
    <!-- DataTables Semantic UI主题的JS -->
    <script src="{% static 'datatables/dataTables.semanticui.min.js' %}"></script>
    <!-- DataTables 百分数条形图插件 -->
    <script src="{% static 'datatables/percentageBars.js' %}"></script>
    <script type="text/javascript" src="{% static 'Semantic-UI-CSS-master/semantic.js' %}"></script>
    <script src="{% static 'echarts/echarts.min.js' %}"></script>
    <script src="{% static 'echarts/china.js' %}"></script>
    <script src="{% static 'echarts/ecStat.min.js' %}"></script>
    <link REL="SHORTCUT ICON" HREF="{% static "favicon.ico" %}"/>
</head>



<body>
{#<div class="ui active dimmer" id="bodydimmer">#}
{#    <div class="ui text loader">页面加载中...因数据量巨大，请稍后...<br>页面置于后台能提升加载速度哦~</div>#}
{#</div>#}
<!-- 引入导航栏 -->
{% include 'chpa_data/header.html' %}
<!-- 预留具体页面的位置 -->
{% block body %}{% endblock body %}
<!-- 引入注脚 -->
{% include 'chpa_data/footer.html' %}

</body>

{#<script>#}
{#$(window).bind("load", function() {#}
{#   $("#bodydimmer").removeClass();#}
{#});#}
{#</script>#}
</html>