{% load static %}

<div class="ui large top fixed inverted menu">
    <div class="ui container">
        <div class="header item">
            <img class="logo" src="{% static 'assets/images/logo.png' %}">
            内网数据分析平台
        </div>
        <div class="ui simple dropdown item">
            数据 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'chpa:index' %}" class="{% if request.get_full_path == chpa_url %}active blue{% endif %} item">
                    IQVIA CHPA全国
                    <div class="ui horizontal black label">2020Q4季度版</div>
                </a>
                <a class="item" href="{% url 'internal_sales:index' %}" class="{% if request.get_full_path == internal_sales_url %}active blue{% endif %} item">
                    内部In-market三合一销售数据
                    <div class="ui horizontal black label">2021年3月终版</div>
                </a>
                <a class="item" href="{% url 'vbp:index' %}" class="{% if request.get_full_path == vbp_url %}active blue{% endif %} item">
                    带量采购数据
                    <div class="ui horizontal black label">更新至第四批</div>
                </a>
                <a class="item" href="{% url 'rdpac:index' %}" class="{% if request.get_full_path == vbp_url %}active blue{% endif %} item">
                    RDPAC数据
                    <div class="ui horizontal black label">2020年度版</div>
                </a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            小工具 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'price_calc:index' %}" class="{% if request.get_full_path == price_calc_url %}active blue{% endif %} item">
                    差比价计算器
                </a>
                </div>
        </div>
        {% if request.user.is_staff %}
            <a href="{% url 'admin:index' %}" class="item">后台管理</a>
        {% endif %}
    </div>
    <a class="right menu">
        {%  if not request.user.username  %}
            <a class="ui item" href="{% url 'logout' %}">
                未登录
            </a>
        {% else %}
            <div class="ui item">
                您好，{{ request.user.username }}
            </div>
            <a class="ui item" href="{% url 'logout' %}">
                切换用户
            </a>
        {% endif %}
  </div>
</div>




