{% load static %}
{% load tags %} 

<div class="ui large top fixed inverted menu">
    <div class="ui container">
        <div class="header item">
            <img class="logo" src="{% static 'assets/images/logo.png' %}">
            内网数据分析平台
        </div>
        <div class="ui simple dropdown item">
            数据 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'chpa:index' %}">
                    IQVIA CHPA全国
                    <div class="ui horizontal black label">2023Q2季度版</div>
                </a>
                <a class="item" href="{% url 'internal_sales:index' %}">
                    医院渠道内部三合一销售数据
                    <div class="ui horizontal black label">2023年8月初版</div>
                </a>
                <a class="item" href="{% url 'potential:index' %}">
                    医院渠道信立坦终端潜力Mapping销售分析
                    <div class="ui horizontal black label">2023年8月初版</div>
                </a>
                <a class="item" href="{% url 'vbp:index' %}">
                    带量采购数据
                    <div class="ui horizontal black label">更新至第八批</div>
                </a>
                <a class="item" href="{% url 'nrdl_price:subjects' %}">
                    NRDL谈判品种记录
                    <div class="ui horizontal black label">更新至2022</div>
                </a>
                <a class="item" href="{% url 'rdpac:index' %}">
                    RDPAC数据
                    <div class="ui horizontal black label">2020年度版</div>
                </a>
                <a class="item" href="{% url 'roxa:index' %}">
                    竞品罗沙司他内部销售数据
                    <div class="ui horizontal black label">2021年H1版</div>
                </a>
            </div>
        </div>
        <a href="{% url 'medical_info:posts' %}" class="item">医学信息（测试中）</a>
        {% if request.user|has_group:"KOL信息贡献者" or request.user|has_group:"医学顾问" %}
            <div class="ui simple dropdown item">
                KOL管理 <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'kol:records' %}">
                        拜访记录
                    </a>
                    <a class="item" href="{% url 'kol:kols' %}">
                        KOL信息
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="ui simple dropdown item">
            小工具 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'price_calc:index' %}">
                    差比价计算器
                </a>
                <a class="item" href="{% url 'nrdl_renewal:index' %}">
                    NRDL谈判药品续约价格模拟器
                </a>
                </div>
        </div>
        {% if request.user.is_staff %}
            <a class="item" href="{% url 'admin:index' %}">后台管理</a>
        {% endif %}
    </div>
    <a class="right menu">
        {%  if not request.user.username  %}
            <a class="ui item" href="{% url 'logout' %}">
                未登录
            </a>
        {% else %}
            <div class="ui item">
                您好，{{ request.user.username }}
            </div>
            <a class="ui item" href="{% url 'logout' %}">
                切换用户
            </a>
        {% endif %}
  </div>
</div>

<style>
.ui.menu {
  z-index: 1001 !important;
}
</style>


