{% load tags %}

<table id="table_history" class="ui striped celled selectable table">
    <thead>
        <th>分析维度</th>
        <th>数据筛选</th>
        <th>用户</th>
        <th>查询时间</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>
                    <div class="ui basic blue horizontal label">{{ record.args.DIMENSION_select}}</div>
                    <div class="ui basic violet horizontal label">{{ record.args.UNIT_select }}</div>
                    <div class="ui basic purple horizontal label">{{ record.args.PERIOD_select }}</div>
                </td>
                <td>
                    {% with filters=record.args|filter_fields %}     
                        {% for key, value in filters.items %}
                            {% for v in value %}
                                <div class="ui basic red horizontal label">{{ v }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>{{ record.user }}</td>
                <td>{{ record.query_date|date:"M d, Y" }}</td>
                <td><a id="retry" title="点击重新查询结果" href="#" onclick="recordQuery({{ record.args|safe }});return false;">查询</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $("#table_history").DataTable(
        {
            order: [[3, "desc"]], // 初始以第4列（注意第一列索引为0）由高到低排序
            lengthChange: false,
            pageLength: 5, // 前端分页，初始每页显示5条记录
            oLanguage: { // UI Label本地化
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sProcessing": "处理中...",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(获取 _MAX_ 条客户档案)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
            },
        }
    );
</script>

<script>
    function recordQuery(args){
        $("#modal_options").modal('hide');
        var dimmer = $("#dimmer"); 
        var dimmer_dummy = $("#dimmer_dummy"); // 使用一个透明dummy dimmer保证loading文字一直显示在viewport中央
        dimmer.attr('class', 'ui active dimmer'); // 非透明的dimmer依旧负责遮罩功能，点击筛选按钮后dimmer变成active
        dimmer_dummy.attr('class', 'ui active dimmer'); // 非透明的dimmer依旧负责遮罩功能，点击筛选按钮后dimmer变成active
        dimmer_dummy.children('div').remove(); // 删除初始化文字
        dimmer_dummy.append('<div class="ui text loader">数据加载中……</div>'); // 增加loading效果和文字

        // Pyecharts图表初始化
        var bar_total_trend = initChart('bar_total_trend');
        var stackarea_abs_trend = initChart('stackarea_abs_trend');
        var stackarea_share_trend = initChart('stackarea_share_trend');
        var line_gr_trend = initChart('line_gr_trend');

        // 获取交互表单数据
        var form_data = args;
        console.log(form_data)
        $.ajax({
            // 请求的url
            url: '{% url 'chpa:query' %}',
            // 请求的type
            type: 'GET',
            // 发送的数据
            data: form_data,
            // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
            success: function (ret) {     //成功执行
                // 去除加载遮罩（去掉active）
                dimmer.attr('class', 'ui dimmer');
                dimmer_dummy.attr('class', 'ui dimmer');
                // 更新单位标签
                $("#label_size_unit").html("最新"+ ret['label']);
                // 把查询结果输出到网页上预留的id为result_table的div中
                $("#value_size").html(ret["market_size"].toLocaleString());
                $("#value_gr").html(toPercent(ret["market_gr"]));
                if (ret["market_gr"] < 0){
                    $("#div_gr").removeClass().addClass("red statistic"); // 负则为红
                } else if (ret["market_gr"] > 0) {
                    $("#div_gr").removeClass().addClass("green statistic"); // 正则为绿
                }
                $("#value_cagr").html(toPercent(ret["market_cagr"]));
                if (ret["market_cagr"] < 0){
                    $("#div_cagr").removeClass().addClass("red statistic"); // 负则为红
                } else if (ret["market_cagr"] > 0) {
                    $("#div_cagr").removeClass().addClass("green statistic"); // 正则为绿
                }
                // 展示ptable表格
                $("#ptable_div").html(ret['ptable']);
                initPTable($("#ptable"));
                // 展示ptable_trend表格
                $("#ptable_trend_div").html(ret['ptable_trend']);
                initPTableTrend($("#ptable_trend"));
                // 展示价格分析表格
                $("#price_table_cnt_div").html(ret['price_table_cnt']);
                initPriceTable($("#price_table_cnt"));
                $("#price_table_box_div").html(ret['price_table_box']);
                initPriceTable($("#price_table_box"));
                // 展示Pyecharts图表 - 总体定义市场趋势图
                updateChart(bar_total_trend, ret['bar_total_trend']);
                // 展示Pyecharts图表 - Top items绝对值趋势图
                updateChart(stackarea_abs_trend, ret['stackarea_abs_trend']);
                // 展示Pyecharts图表 - Top items份额趋势图
                updateChart(stackarea_share_trend, ret['stackarea_share_trend']);
                // 展示Pyecharts图表 - Top items增长率趋势图
                updateChart(line_gr_trend, ret['line_gr_trend']);
                // 展示Squarify Treemap
                if (ret.hasOwnProperty('treemap_share') === false){
                    $("#treemap_share_div").html("<div align='center' style='font-size: 24px;'><span>请在选项菜单勾选输出该图表</span></div>")
                }
                else {
                    $("#treemap_share_div").html("<img id='treemap_share' style='width: 100%' alt='' />");
                    $("#treemap_share").attr('src', '').attr('src', ret['treemap_share']);
                }
                // 展示Matplotlib气泡图
                if (ret.hasOwnProperty('bubble_performance') === false){
                    $("#bubble_performance_div").html("<div align='center' style='font-size: 24px;'><span>请在选项菜单勾选输出该图表</span></div>")
                }
                else {
                    $("#bubble_performance_div").html("<img id='bubble_performance' style='width: 100%' alt='' />");
                    $("#bubble_performance").attr('src', '').attr('src', ret['bubble_performance']);
                }
            },
            error: function () {            //失败
                console.log('失败');
                dimmer_dummy.children('div').text('有错误发生，无法完成查询'); // AJAX回调失败则报错
            }
        })
    }
</script>