{% load tags %}

<table id="table_history" class="ui striped celled selectable table">
    <thead>
        <th>分析维度</th>
        <th>数据筛选</th>
        <th>用户</th>
        <th>查询时间</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>
                    <div class="ui basic blue horizontal label">{{ record.args.DIMENSION_select.0 }}</div>
                    <div class="ui basic violet horizontal label">{{ record.args.UNIT_select.0 }}</div>
                    <div class="ui basic purple horizontal label">{{ record.args.PERIOD_select.0 }}</div>
                </td>
                <td>
                    {% with filters=record.args|filter_fields %}     
                        {% for key, value in filters.items %}
                            {% for v in value %}
                                <div class="ui basic red horizontal label">{{ v }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>{{ record.user }}</td>
                <td>{{ record.query_date|date:"M d, Y" }}</td>
                <td><a id="retry" title="点击重新查询结果" href="#" onclick="recordQuery({{ record.args|safe }});return false;">查询</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $("#table_history").DataTable(
        {
            order: [[3, "desc"]], // 初始以第4列（注意第一列索引为0）由高到低排序
            lengthChange: false,
            pageLength: 5, // 前端分页，初始每页显示5条记录
            oLanguage: { // UI Label本地化
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sProcessing": "处理中...",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(获取 _MAX_ 条客户档案)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
            },
        }
    );
</script>

<script>
    function recordQuery(args){
        console.log(args)
        // 获取交互表单数据
    }
</script>