<{% extends "chpa_data/analysis.html" %}
{% block analysis %}

<div class="ui active dimmer" id="dimmer">
    <div class="ui text loader">请使用左侧筛选框选择分析维度和定义市场</div>
</div>
<div class="ui pointing secondary menu">
    <a class="item active" data-tab="size">34+2城市市场规模</a>
    <a class="item" data-tab="competition">34+2城市竞争现状</a>
    <a class="item" data-tab="kpi">34+2城市KPI汇总</a>
</div>
<div class="ui tab segment active" data-tab="size">
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市规模
            <div class="sub header">
                地理坐标气泡图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="geo_scatter" style="width:1000px; height:600px;"></div>
    </div>
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市规模
            <div class="sub header">
                柱状图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_latest" style="width:1000px; height:600px;"></div>
    </div>
    <h3 class="ui header">
        <div class="content">
            城市贡献（对比整体市场各城市贡献）
            <div class="sub header">
                柱状图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_contrib_compare" style="width:1000px; height:600px;"></div>
    </div>
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市规模及过去一年净增长
            <div class="sub header">
                堆积柱状图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_diff" style="width:1000px; height:600px;"></div>
    </div>
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市规模及过去一年净增长&同比增长率
            <div class="sub header">
                堆积柱状图&折线图组合
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_diff_gr" style="width:1000px; height:600px;"></div>
    </div>
</div>
<div class="ui tab segment" data-tab="competition">
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市市场竞争绝对值
            <div class="ui red basic label">
                Top10
            </div>
            <div class="sub header">
                堆积柱状图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_sum" style="width:1000px; height:600px;"></div>
    </div>
    <h3 class="ui header">
        <div class="content">
            最新{{ period_selected }}分城市市场竞争份额
            <div class="ui red basic label">
                Top10
            </div>
            <div class="sub header">
                百分比堆积柱状图
            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_contrib" style="width:1000px; height:600px;"></div>
    </div>
</div>
<div class="ui tab segment" data-tab="kpi">
    <h3 class="ui header">
        <div class="content">
            最新分城市横断面KPI一览
            <div class="sub header">数据表格</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui top attached button" tabindex="0"
         onclick="selectElementContents( document.getElementById('table') );"
         data-content="复制成功" data-position="bottom center">
        <i class="copy icon"></i>
        复制到剪贴板
    </div>
    <div class="ui hidden divider"></div>

    <div class="ui container" id='result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
    </div>

</div>



<script type="text/javascript">
    // 请求服务器，返回JSON
    $(document).ready(function(){
        $("#AJAX_get").click(function(){
            $("#dimmer").removeClass();
            $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
                });
            // 获取下拉框的值
            var market = $("#db_table-select").val();
            var city = $("#city-select").val();
            var dimension = $("#dimension-select").val();
            var period = $("#period-select").val();
            var unit = $("#unit-select").val();
            var tc_i = $("#tc_i-select").val();
            var tc_ii = $("#tc_ii-select").val();
            var tc_iii = $("#tc_iii-select").val();
            var tc_iv = $("#tc_iv-select").val();
            var molecule = $("#molecule-select").val();
            var product = $("#product-select").val();
            var package = $("#package-select").val();
            var corp = $("#corp-select").val();
            var mt = $("#mt-select").val();
            var form = $("#form-select").val();

            //页面上的部分元素根据下拉框取值改变
            $("#label_size_unit").html("最新"+period+unit);

            // 打包成get请求发送的数据
            var data = {"dimension-select": dimension,
                        "period-select": period,
                        "unit-select": unit,
                        "tc_i-select": tc_i,
                        "tc_ii-select": tc_ii,
                        "tc_iii-select": tc_iii,
                        "tc_iv-select": tc_iv,
                        "molecule-select": molecule,
                        "product-select": product,
                        "package-select": package,
                        "corp-select": corp,
                        "mt-select": mt,
                        "form-select": form,
                        "city-select": city,
                        "market-select": market,
            };
            $(
                function () {
                    getData('geo_scatter', '{% url 'ajax_chart_by_city' 'geo_scatter' %}');
                    getData('bar_latest', '{% url 'ajax_chart_by_city' 'bar_latest' %}');
                    getData('bar_contrib_compare', '{% url 'ajax_chart_by_city' 'bar_contrib_compare' %}');
                    getData('bar_diff', '{% url 'ajax_chart_by_city' 'bar_diff' %}');
                    getData('bar_diff_gr', '{% url 'ajax_chart_by_city' 'bar_diff_gr' %}');
                    getData('bar_sum', '{% url 'ajax_chart_by_city' 'bar_sum' %}');
                    getData('bar_contrib', '{% url 'ajax_chart_by_city' 'bar_contrib' %}');
                }
            );

            function getData(chart_id, ajax_url) {
                var chart = echarts.init(document.getElementById(chart_id), 'white', {renderer: 'canvas'});
                chart.showLoading({
                  text : '正在加载数据'
                });  //增加提示
                $.ajax({
                    type: "GET",
                    url: ajax_url,
                    data: data,
                    dataType: 'json',
                    success: function (ret) {
                        chart.clear();
                        chart.setOption(ret.data);
                        chart.hideLoading();
                    }
                });
            };
            $.ajax({
                // 请求的url
                url: '{% url 'ajax_ptable_by_city' %}',
                // 请求的type
                type:'POST',
                // 发送的数据
                data: data,
                // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
                success:function(ret){     //成功执行
                    // 把查询结果输出到网页上
                    $("#result_table").html(ret);
                    $('#table').DataTable(
                        {
                        processing: true,
                        order: [[ 1, "desc" ]],
                        pageLength: 25,
                        autoWidth: false,
                        columnDefs: [
                            { "width": "10%", "targets": 3 },
                            {
                              targets: 3,
                              render: $.fn.dataTable.render.percentBar( 'square','#000', '#BCBCBC', '#00bfff', '#E6E6E6', 1, 'ridge' )
                             },
                            {
                            "targets": 8,
                            "createdCell": function (td, cellData, rowData, row, col) {
                              if ( cellData < 100 ) {
                                $(td).css('color', 'red')
                                }
                                else if ( cellData > 100 ) {
                                $(td).css('color', 'green')
                                }
                                else if (cellData.indexOf(",") != -1) {
                                $(td).css('color', 'green')
                                }
                              }
                            },
                            {
                            "targets": [4, 5, 6, 7],
                            "createdCell": function (td, cellData, rowData, row, col) {
                              if ( cellData.startsWith('-') ) {
                                $(td).css('color', 'red')
                                }
                              }
                            },
                          ]
                        });
                },
				error:function(){            //失败
					console.log('失败')
				}
            });
        })
    })


</script>
<script>
function toPercent(str){
    if (isNaN(str) == false){
        var strP=Number(str*100).toFixed(1);
        strP+="%";
    } else {
        strP = str;
    }
    return strP;
}






</script>

{% endblock analysis %}

