<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %} 
{% load humanize %} 
{% load tags %} 
{% block title %}新增拜访记录{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display%}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui big breadcrumb">
        <a href="{% url 'kol:records' %}">所有拜访记录</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">新增拜访记录</div>
    </div>
    <div class="ui divider"></div>
    <form class="ui form" method="post" id="form_create_record">
        {% csrf_token %}
        <div class="two fields">
            <div class="required field">
                <label>KOL</label>
                <select class="ui search dropdown" name="select_kol">
                    <option value="">请搜索并选择KOL</option>
                    {% for kol in kols %}
                    <option value="{{ kol.pk }}">{{ kol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="required field">
                <label>拜访日期</label>
                <div class="ui calendar" id="datepicker">
                    <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="visit_date" placeholder="请选择拜访日期">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>头衔&荣誉</label>
            <textarea
                name="text_title"
                form="form_create_kol"
                placeholder="请填写头衔&荣誉，可为空"
            ></textarea>
        </div>
        <div class="ui error message">
        </div>
        <button class="ui primary button" type="submit" id="btn_create">提交</button>
    </form>
</div>
<div class="ui hidden divider"></div>

<script>
    $('#datepicker').calendar({
        type: 'date',
        today: true,
        formatter: {
            date: function (date, settings) {
                var day = date.getDate() + '';
                if (day.length < 2) {
                    day = '0' + day;
                }
                var month = (date.getMonth() + 1) + '';
                if (month.length < 2) {
                    month = '0' + month;
                }
                var year = date.getFullYear();
                return year + '-' + month + '-' + day;
            },
        },
    });
    $(".ui.radio.checkbox").checkbox();
    $(".ui.dropdown").dropdown({ fullTextSearch: true });
    $(".ui.form").form({
        fields: {
            name: {
                identifier: "name",
                rules: [
                    {
                        type: "empty",
                        prompt: "KOL姓名不可为空",
                    },
                ],
            },
            select_hp: {
                identifier: "select_hp",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择供职医院",
                    },
                ],
            },
            dept: {
                identifier: "dept",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择所在科室",
                    },
                ],
            },
            rating_infl: {
                identifier: "rating_infl",
                rules: [
                    {
                        type: "checked",
                        prompt: "未选择影响力",
                    },
                ],
            },
            rating_prof: {
                identifier: "rating_prof",
                rules: [
                    {
                        type: "checked",
                        prompt: "未选择专业度",
                    },
                ],
            },
        },
    });
</script>

{% comment %} <script>
    $("#btn_create").click(function (){
        $("#error_message").attr("class", "ui hidden error message");
        $.ajax({
            type: "post",
            url: "{% url 'kol:create_kol' %}",
            data: $("#form_create_kol").serialize(),
            success: function(result) {
                $("#success_message").attr("class", "ui positive message");
                window.location.href = "{% url 'kol:kols' %}";
            },
            error: function (result) {            //失败
                console.log(result)
                if (result.responseJSON.message == "该KOL已存在"){
                    $("#error_message").attr("class", "ui error message");
                };
            }
        });
    });
</script> {% endcomment %}
{% endblock display %}
