<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %} 
{% load humanize %} 
{% load tags %} 
{% block title %}{% if record %}更新{% else %}新增{% endif %}拜访记录{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display%}

<div class="ui hidden divider"></div>
<div class="ui container">

    <div class="ui modal">
        <div class="header">确认删除以下拜访记录?</div>
        <div class="content" id="modal_content">
        </div>
        <div class="actions">
        <div class="ui approve red button">删除</div>
        <div class="ui cancel button">取消</div>
        </div>
    </div>
    <div class="ui big breadcrumb">
        <a href="{% url 'kol:records' %}">所有拜访记录</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">{% if record %}更新{% else %}新增{% endif %}拜访记录</div>
    </div>
    <div class="ui divider"></div>
    <form class="ui form" method="post" id="form_create_record">
        {% csrf_token %}
        <div class="two fields">
            <div class="required field">
                <label>KOL</label>
                <select class="ui search dropdown" name="select_kol">
                    {% if record %}
                        <option value="{{ record.kol.pk }}">{{ record.kol }}</option>
                    {% else %}
                        <option value="">请搜索并选择KOL</option>
                    {% endif %}
                    {% for kol in kols %}
                    <option value="{{ kol.pk }}">{{ kol }}</option>
                    {% endfor %}
                </select>
            <a href="{% url 'kol:create_kol' %}">KOL不在列表中，点击添加</a>
            </div>
            <div class="required field">
                <label>拜访日期</label>
                <div class="ui calendar" id="datepicker">
                    <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="visit_date" value="{{ record.visit_date }}" placeholder="请选择拜访日期" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="required field">
            <label>拜访目标</label>
            <textarea
                name="text_purpose"
                form="form_create_record"
                placeholder="请填写拜访目标"
            >{{ record.purpose }}</textarea>
        </div>
        <div class="two fields">                    
            <div class="required field">
                <label>恩那度司他认知度</label>
                <div class="ui selection dropdown">
                    <input type="hidden" value="{{ record.rating_awareness }}" name="rating_awareness" />
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择本次拜访时KOL的恩那度司他认知度</div>
                    <div class="menu">
                        {% for k, v in rating_awareness_choices %}
                            <div class="item" data-value="{{ k }}">{{ v }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>恩那度司他疗效</label>
                <div class="ui selection dropdown">
                    <input type="hidden" value="{{ record.rating_efficacy }}" name="rating_efficacy" />
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择本次拜访时KOL认知的恩那度司他疗效</div>
                    <div class="menu">
                        {% for k, v in rating_efficacy_choices %}
                            <div class="item" data-value="{{ k }}">{{ v }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="two fields">                    
            <div class="required field">
                <label>恩那度司他安全性</label>
                <div class="ui selection dropdown">
                    <input type="hidden" value="{{ record.rating_safety }}" name="rating_safety" />
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择本次拜访时KOL的恩那度司他便捷性</div>
                    <div class="menu">
                        {% for k, v in rating_safety_choices %}
                            <div class="item" data-value="{{ k }}">{{ v }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>恩那度司他便捷性</label>
                <div class="ui selection dropdown">
                    <input type="hidden" value="{{ record.rating_compliance }}" name="rating_compliance" />
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择本次拜访时KOL认知的恩那度司他便捷性</div>
                    <div class="menu">
                        {% for k, v in rating_compliance_choices %}
                            <div class="item" data-value="{{ k }}">{{ v }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="required field">
            <label>主要反馈及其他重要信息</label>
            <textarea
                name="text_feedback"
                form="form_create_record"
                placeholder="请填写主要反馈及其他重要信息，如性格、沟通风格、关系好/坏的专家、讲者发展潜力、竞品相关信息等"
            >{{ record.feedback }}</textarea>
        </div>
        {% comment %} <div class = "field">
            <label>上传附件</label>
            {% for attachment in attachments %}
               {{ attachment }}
            {% endfor %}
            <input type="file" id="file-uploader" name="files" multiple="multiple">
        </div> {% endcomment %}
        <div class="ui error message">
        </div>
        {% if record %}
            <button class="ui positive button" type="submit" id="btn_update">更新</button>
            <div class="ui negative button" id="btn_delete">删除</div>
        {% else %}
            <button class="ui primary button" type="submit" id="btn_create">新增</button>
        {% endif %}
    </form>
</div>
<div class="ui hidden divider"></div>

<script>
    $('#datepicker').calendar({
        type: 'date',
        today: true,
        formatter: {
            date: function (date, settings) {
                var day = date.getDate() + '';
                if (day.length < 2) {
                    day = '0' + day;
                }
                var month = (date.getMonth() + 1) + '';
                if (month.length < 2) {
                    month = '0' + month;
                }
                var year = date.getFullYear();
                return year + '-' + month + '-' + day;
            },
        },
    });
    $(".ui.radio.checkbox").checkbox();
    $(".ui.dropdown").dropdown({ fullTextSearch: true });
    $(".ui.form").form({
        fields: {
            select_kol: {
                identifier: "select_kol",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择KOL",
                    },
                ],
            },
            visit_date: {
                identifier: "visit_date",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择拜访日期",
                    },
                ],
            },
            text_purpose: {
                identifier: "text_purpose",
                rules: [
                    {
                        type: "empty",
                        prompt: "未填写拜访目标",
                    },
                ],
            },
            text_feedback_main: {
                identifier: "text_feedback",
                rules: [
                    {
                        type: "empty",
                        prompt: "未填写主要反馈及其他重要信息",
                    },
                ],
            },

        },
    });
</script>
<script>
    $("#btn_delete").click(function (){
        $("#modal_content").append("{{ record }}");
        var record_id = parseInt("{{ record.pk }}");
        $('.ui.modal')
            .modal({
                closable  : false,
                onApprove : function() {
                    var data = {
                        "id": record_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };
                    $.ajax({
                        // 请求的url
                        url: '{% url 'kol:delete_record' %}',
                        // 请求的type
                        type: 'POST',
                        // 发送的数据
                        data: data,
                        // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
                        success: function (ret) {     //成功执行
                            window.location.href = "{% url 'kol:records' %}";
                        }
                    });
                }
            })
            .modal('show');
    });
</script>
{% comment %} <script>
    $("#btn_create").click(function (){
        $("#error_message").attr("class", "ui hidden error message");
        $.ajax({
            type: "post",
            url: "{% url 'kol:create_kol' %}",
            data: $("#form_create_kol").serialize(),
            success: function(result) {
                $("#success_message").attr("class", "ui positive message");
                window.location.href = "{% url 'kol:kols' %}";
            },
            error: function (result) {            //失败
                console.log(result)
                if (result.responseJSON.message == "该KOL已存在"){
                    $("#error_message").attr("class", "ui error message");
                };
            }
        });
    });
</script> {% endcomment %}
{% endblock display %}
