<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %} 
{% load humanize %} 
{% load tags %} 
{% block title %}{% if kol %}更新{% else %}新增{% endif %}KOL{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display%}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui modal">
        <div class="header">确认删除以下KOL?</div>
        <div class="content" id="modal_content">
        </div>
        <div class="actions">
        <div class="ui approve red button">删除</div>
        <div class="ui cancel button">取消</div>
        </div>
    </div>
    <div class="ui big breadcrumb">
        <a href="{% url 'kol:kols' %}">所有KOL信息</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">{% if kol %}更新{% else %}新增{% endif %}KOL</div>
    </div>

    <div class="ui divider"></div>
    <form class="ui form" method="post" id="form_create_kol">
        {% csrf_token %}
        <div class="required field">
            <label>KOL姓名</label>
            <input type="text" name="name" value="{{kol.name}}" placeholder="请填写KOL姓名" />
        </div>
        <div class="required field">
            <label>供职医院                    <div class="ui pointing below red basic label">
                请至少输入2个字符搜索
            </div></label>
            <select class="ui search dropdown" name="select_hp">
                {% if kol %}
                    <option value="{{ kol.hospital.pk }}">{{ kol.hospital }}</option>
                {% else %}
                    <option value="">请输入关键字搜索并选择KOL所在的医院</option>
                {% endif %}
            </select>
        </div>
        {% comment %} <div class="required field">
            <label>所在科室</label>
            <div class="ui selection dropdown">
                <input type="hidden" value="{{ kol.dept }}" name="dept" />
                <i class="dropdown icon"></i>
                <div class="default text">请选择科室</div>
                <div class="menu">
                    <div class="item" data-value="肾内科">肾内科</div>
                    <div class="item" data-value="其他科室">其他科室</div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="required inline field">
            <label>影响力</label>
            <div class="ui star rating" id="rating_star_infl" data-rating="{{ kol.rating_infl }}"></div>
            <input type="hidden" id="input_rating_infl" value="{{ kol.rating_infl }}" name="rating_infl" />
        </div>
        <div class="required inline field">
            <label>专业度</label>
            <div class="ui star rating" id="rating_star_prof" data-rating="{{ kol.rating_prof }}"></div>
            <input type="hidden" id="input_rating_prof" value="{{ kol.rating_prof }}" name="rating_prof" />
        </div>
        <div class="required inline field">
            <label>支持度</label>
            <div class="ui heart rating" id="rating_heart_fav" data-rating="{{ kol.rating_fav }}"></div>
            <input type="hidden" id="input_rating_fav" value="{{ kol.rating_fav }}" name="rating_fav" />
        </div>
        <div class="required inline field">
            <label>博导/硕导</label>
            <div class="ui selection dropdown">
                <input type="hidden" value="{{ kol.supervisor }}" name="supervisor" />
                <i class="dropdown icon"></i>
                <div class="default text">请选择</div>
                <div class="menu">
                    <div class="item" data-value="博士生导师">博士生导师</div>
                    <div class="item" data-value="硕士生导师">硕士生导师</div>
                    <div class="item" data-value="非博导/硕导">非博导/硕导</div>
                    <div class="item" data-value="未知">未知</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>头衔&荣誉</label>
            <textarea
                name="text_title"
                form="form_create_kol"
                placeholder="请填写头衔&荣誉，可为空"
            >{{ kol.titles }}</textarea>
        </div>
        <div class="ui error message">
        </div>
        {% if kol %}
            <button class="ui positive button" type="submit" id="btn_update">更新</button>
            <div class="ui negative button" id="btn_delete">删除</div>
        {% else %}
            <button class="ui primary button" type="submit" id="btn_create">新增</button>
        {% endif %}
    </form>
</div>
<div class="ui hidden divider"></div>

<script>
    $("#rating_star_infl").rating({
        initialRating: 0,
        maxRating: 4,
        onRate: function (rating) {
            $("#input_rating_infl").val(rating)
        }
      });
    $("#rating_star_prof").rating({
        initialRating: 0,
        maxRating: 4,
        onRate: function (rating) {
            $("#input_rating_prof").val(rating)
        }
      });
    $("#rating_heart_fav").rating({
        initialRating: 0,
        maxRating: 4,
        onRate: function (rating) {
            $("#input_rating_fav").val(rating)
        }
      });
    $(".ui.radio.checkbox").checkbox();
    $(".ui.dropdown").dropdown({ fullTextSearch: true });
    $(".ui.form").form({
        fields: {
            name: {
                identifier: "name",
                rules: [
                    {
                        type: "empty",
                        prompt: "KOL姓名不可为空",
                    },
                ],
            },
            select_hp: {
                identifier: "select_hp",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择供职医院",
                    },
                ],
            },
            supervisor: {
                identifier: "supervisor",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择博导/硕导",
                    },
                ],
            },
            rating_infl: {
                identifier: "rating_infl",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择影响力",
                    },
                ],
            },
            rating_prof: {
                identifier: "rating_prof",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择专业度",
                    },
                ],
            },
            rating_infl: {
                identifier: "rating_infl",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择影响力",
                    },
                ],
            },
            rating_fav: {
                identifier: "rating_fav",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择支持度",
                    },
                ],
            },
        },
    });
</script>
<script>
    $("#btn_delete").click(function (){
        $("#modal_content").append("{{ kol }}");
        var kol_id = parseInt("{{ kol.pk }}");
        $('.ui.modal')
            .modal({
                closable  : false,
                onApprove : function() {
                    var data = {
                        "id": kol_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };
                    $.ajax({
                        // 请求的url
                        url: '{% url 'kol:delete_kol' %}',
                        // 请求的type
                        type: 'POST',
                        // 发送的数据
                        data: data,
                        // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
                        success: function (ret) {     //成功执行
                            window.location.href = "{% url 'kol:kols' %}";
                        }
                    });
                }
            })
            .modal('show');
    });
</script>

<script>
    // 还是转义问题，在Django模板中遇到带有{}的html代码必须使用replace这种方式处理
    var url = "{% url 'kol:search_hps' 'QUERYPLACEHOLDER' %}".replace(
        'QUERYPLACEHOLDER', '{query}'
    );
    // jQuery语法遍历所有多选框
    $('.ui.search.dropdown').each(function () {
        // Semantic UI语法获得多选框默认文本
        $(this).dropdown(
            {
                apiSettings: {
                    // 用下方URL从后端返回查询后的json
                    url: url
                },
                // 输入至少2个字符后才query
                minCharacters : 2
            })
        ;
    })
</script>

{% endblock display %}
