<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %} 
{% load humanize %} 
{% load tags %} 
{% block title %}新增KOL{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display%}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui big breadcrumb">
        <a href="{% url 'kol:kols' %}">所有KOL信息</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">新增KOL</div>
    </div>
    <div class="ui divider"></div>
    <form class="ui form" method="post" id="form_create_kol">
        {% csrf_token %}
        <div class="required field">
            <label>KOL姓名</label>
            <input type="text" name="name" placeholder="请填写KOL姓名" />
        </div>
        <div class="required field">
            <label>供职医院</label>
            <select class="ui search dropdown" name="select_hp">
                <option value="">请搜索并选择KOL所在的医院</option>
                {% for hp in hospitals %}
                <option value="{{ hp.pk }}">{{ hp }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="required field">
            <label>所在科室</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="dept" />
                <i class="dropdown icon"></i>
                <div class="default text">请选择科室</div>
                <div class="menu">
                    <div class="item" data-value="肾内科">肾内科</div>
                    <div class="item" data-value="其他科室">其他科室</div>
                </div>
            </div>
        </div>
        <div class="required inline fields">
            <label for="rating_infl">影响力</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_infl"
                        value="3"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>高</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_infl"
                        value="2"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>中</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_infl"
                        value="1"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>低</label>
                </div>
            </div>
        </div>
        <div class="required inline fields">
            <label for="rating_prof">专业度</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_prof"
                        value="3"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>高</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_prof"
                        value="2"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>中</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input
                        type="radio"
                        name="rating_prof"
                        value="1"
                        tabindex="0"
                        class="hidden"
                    />
                    <label>低</label>
                </div>
            </div>
        </div>
        <div class="field">
            <label>头衔&荣誉</label>
            <textarea
                name="text_title"
                form="form_create_kol"
                placeholder="请填写头衔&荣誉，可为空"
            ></textarea>
        </div>
        <div class="ui error message">
        </div>
        <button class="ui primary button" type="submit" id="btn_create">新增KOL</button>
    </form>
</div>
<div class="ui hidden divider"></div>

<script>
    $(".ui.radio.checkbox").checkbox();
    $(".ui.dropdown").dropdown({ fullTextSearch: true });
    $(".ui.form").form({
        fields: {
            name: {
                identifier: "name",
                rules: [
                    {
                        type: "empty",
                        prompt: "KOL姓名不可为空",
                    },
                ],
            },
            select_hp: {
                identifier: "select_hp",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择供职医院",
                    },
                ],
            },
            dept: {
                identifier: "dept",
                rules: [
                    {
                        type: "empty",
                        prompt: "未选择所在科室",
                    },
                ],
            },
            rating_infl: {
                identifier: "rating_infl",
                rules: [
                    {
                        type: "checked",
                        prompt: "未选择影响力",
                    },
                ],
            },
            rating_prof: {
                identifier: "rating_prof",
                rules: [
                    {
                        type: "checked",
                        prompt: "未选择专业度",
                    },
                ],
            },
        },
    });
</script>

{% comment %} <script>
    $("#btn_create").click(function (){
        $("#error_message").attr("class", "ui hidden error message");
        $.ajax({
            type: "post",
            url: "{% url 'kol:create_kol' %}",
            data: $("#form_create_kol").serialize(),
            success: function(result) {
                $("#success_message").attr("class", "ui positive message");
                window.location.href = "{% url 'kol:kols' %}";
            },
            error: function (result) {            //失败
                console.log(result)
                if (result.responseJSON.message == "该KOL已存在"){
                    $("#error_message").attr("class", "ui error message");
                };
            }
        });
    });
</script> {% endcomment %}
{% endblock display %}
