<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %}
{% load humanize %}
{% load tags %}

{% block title %}KOL管理{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display %}

<div class="ui hidden divider"></div>

<div class="ui container">
    {% if kols %}
        <div class="ui dividing header">
            <a href="{% url 'kol:kols' %}">所有KOL信息</a>
            {% if kw %}
                <a class="ui basic blue label" href="{% url 'kol:kols' %}?{% add_query_params request kw=kw %}">
                    搜索关键字: {{ kw }}
                    <i class="delete icon"></i>
                </a>
            {% endif %}
            {% if selected_types  %}
                {% for type in selected_types %}
                    <a class="ui basic red label" href="{% url 'kol:kols' %}?{% add_query_params request type=type %}">
                        KOL分类: {{ type }}
                        <i class="delete icon"></i>
                    </a>
                {% endfor %}
            {% endif %}
            {% if selected_provinces  %}
                {% for prov in selected_provinces %}
                    <a class="ui basic purple label" href="{% url 'kol:kols' %}?{% add_query_params request province=prov %}">
                        省份: {{ prov }}
                        <i class="delete icon"></i>
                    </a>
                {% endfor %}
            {% endif %}
            {% if selected_cities  %}
                {% for city in selected_cities %}
                    <a class="ui basic violet label" href="{% url 'kol:kols' %}?{% add_query_params request city=city %}">
                        城市: {{ city }}
                        <i class="delete icon"></i>
                    </a>
                {% endfor %}
            {% endif %}
            <span> - 当前显示第
                {{ kols.start_index }}-{{ kols.end_index }} of {{ record_n }}位KOLs
            </span>
        </div>

        <div class="ui{% if request.user_agent.is_mobile %} two {% else %} four{% endif %} cards">
            {% for kol in kols %}
            <div class="card">
                <div class="content" >
                    <div class="meta" style="float: right">
                        <span>
                            {% if kol.supervisor == '博士生导师' %}
                                博导
                            {% elif kol.supervisor == '硕士生导师' %}
                                硕导
                            {% endif %}
                        </span>
                    </div>
                    <div class="header">{{ kol.name }}</div>
                </div>
                <div class="content">
                    <div class="meta">
                        <div class="ui list">
                            <div class="item">
                                <span>{{ kol.hospital.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui list">
                        <div class="item">
                            <div class="ui blue horizontal label">影响力</div>
                            <div class="ui star rating" data-rating="{{ kol.rating_infl }}" data-max-rating="4"></div>
                        </div>
                        <div class="item">
                            <div class="ui red horizontal label">专业度</div>
                            <div class="ui star rating" data-rating="{{ kol.rating_prof }}" data-max-rating="4"></div>
                        </div>
                        <div class="item">
                            <div class="ui purple horizontal label">支持度</div>
                            <div class="ui heart rating" data-rating="{{ kol.rating_fav }}" data-max-rating="4"></div>
                        </div>
                    </div>
                </div>
                <div class="extra">
                    <div class="left floated meta">
                        <a href="{% url 'kol:records' %}?kol={{ kol.pk}}">拜访记录:{{ kol.kol_records.all.count }}</a>
                    </div>
                </div>
                <a class="ui bottom attached {% if kol.type == '全国KOL' %}blue{% elif kol.type == '区域KOL' %}red{% elif kol.type == '其他KOL' %}purple{% endif %} button" href="{% url 'kol:update_kol' pk=kol.pk %}">
                    <i class="edit outline icon"></i>
                    详情&编辑
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="ui hidden divider"></div>

        <div class="ui pagination menu">
            <a class="item" href="{% url 'kol:kols' %}?{% add_query_params request page=1 %}">&lt;&lt;</a>

            {% if kols.number|add:'-4' > 1 %}
            <a class="item"
                href="{% url 'kol:kols' %}?{% add_query_params request page=kols.number|add:'-5' %}">&hellip;</a>
            {% endif %}


            {% for n in num_pages|times %}
            {% if n == kols.number %}
            <span class="active item"
                href="{% url 'kol:kols' %}?{% add_query_params request page=n %}">{{ n }}</span>
            {% elif n > kols.number|add:'-5' and n < kols.number|add:'5' %}
            <a class="item" href="{% url 'kol:kols' %}?{% add_query_params request page=n %}">{{ n }}</a>
            {% endif %}
            {% endfor %}


            {% if num_pages > kols.number|add:'4' %}
            <a class="item"
                href="{% url 'kol:kols' %}?{% add_query_params request page=kols.number|add:'5' %}">&hellip;</a>
            {% endif %}

            <a class="item"
                href="{% url 'kol:kols' %}?{% add_query_params request page=num_pages %}">&gt;&gt;</a>
        </div>
    {% else %}
        <div class="ui error message">
            没有搜索到符合条件的记录，返回<a href="{% url 'kol:kols' %}">所有KOL信息</a>
        </div>
    {% endif %}
</div>
<div class="ui hidden divider"></div>

<script>
    $(document).ready(function(){
        $(".rating").rating('disable');
    });

</script>
{% endblock display %}