{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    <a class="ui labeled icon fluid primary button" id="create_kol" href="{% url 'kol:create_kol' %}">
        <i class="plus square outline icon"></i>
        新增KOL
    </a>
    
    <div class="ui hidden divider"></div>
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'kol:kols' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui red vertical segment">
        <h3 class="ui header">
            省份
        </h3>
        <div class="ui labels">
            {% for prov in filtered_provinces %}
                {% if prov.hospital__province in selected_provinces %}
                    <a class="ui red label" href="{% url 'kol:kols' %}?{% add_query_params request province=prov.hospital__province %}">
                        {{ prov.hospital__province }} <div class="detail">({{ prov.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'kol:kols' %}?{% add_query_params request province=prov.hospital__province %}">
                        {{ prov.hospital__province }} <div class="detail">({{ prov.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>