<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "kol/index.html" %}
{% load humanize %}
{% load tags %}

{% block title %}NRDL谈判数据{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display %}

<div class="ui hidden divider"></div>

<div class="ui container">
    {% if negos %}
    <div class="ui dividing header">
        <a href="{% url 'nrdl_price:negos' %}">所有拜访记录</a>
        {% if kw %}
            <a class="ui basic blue label" href="{% url 'nrdl_price:negos' %}?{% add_query_params request kw=kw %}">
                搜索关键字: {{ kw }}
                <i class="delete icon"></i>
            </a>
        {% endif %}
        {% if kol %}
            <a class="ui basic green label" href="{% url 'nrdl_price:negos' %}?{% add_query_params request kol=kol.pk %}">
                KOL: {{ kol }}
                <i class="delete icon"></i>
            </a>
        {% endif %}
        {% if selected_provinces  %}
            {% for prov in selected_provinces %}
                <a class="ui basic red label" href="{% url 'nrdl_price:negos' %}?{% add_query_params request province=prov %}">
                    省份: {{ prov }}
                    <i class="delete icon"></i>
                </a>
            {% endfor %}
        {% endif %}
        {% if selected_cities  %}
        {% for city in selected_cities %}
            <a class="ui basic violet label" href="{% url 'nrdl_price:negos' %}?{% add_query_params request city=city %}">
                城市: {{ city }}
                <i class="delete icon"></i>
            </a>
        {% endfor %}
    {% endif %}
        {% if selected_months  %}
        {% for month in selected_months %}
            <a class="ui basic purple label" href="{% url 'nrdl_price:negos' %}?{% add_query_params request month=month %}">
                年月: {{ month|slice:7 }}
                <i class="delete icon"></i>
            </a>
        {% endfor %}
    {% endif %}
        <span> - 当前显示第
            {{ negos.start_index }}-{{ negos.end_index }} of {{ record_n }}条记录
        </span>
    </div>

    <div class="ui divided items">
        {% for nego in negos %}
        <div class="item" id="kol_negos">
            <div class="content">

                <h2 class="ui header">
                    <div class="content">
                        {{ nego.subject.name }} {{ nego.nego_date|date:"Y" }} 
                    </div>
                </h2>
                
                <div class="meta">

                </div>
                <div class="description">

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui pagination menu">
        <a class="item" href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=1 %}">&lt;&lt;</a>

        {% if negos.number|add:'-4' > 1 %}
        <a class="item"
            href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=negos.number|add:'-5' %}">&hellip;</a>
        {% endif %}


        {% for n in num_pages|times %}
        {% if n == negos.number %}
        <span class="active item"
            href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=n %}">{{ n }}</span>
        {% elif n > negos.number|add:'-5' and n < negos.number|add:'5' %}
        <a class="item" href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=n %}">{{ n }}</a>
        {% endif %}
        {% endfor %}


        {% if num_pages > negos.number|add:'4' %}
        <a class="item"
            href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=negos.number|add:'5' %}">&hellip;</a>
        {% endif %}

        <a class="item"
            href="{% url 'nrdl_price:negos' %}?{% add_query_params request page=num_pages %}">&gt;&gt;</a>
    </div>
    {% else %}
    <div class="ui error message">
        没有搜索到符合条件的记录，返回<a href="{% url 'nrdl_price:negos' %}">所有拜访记录</a>
    </div>
    {% endif %}
</div>
<div class="ui hidden divider"></div>

<style>
    .highlight_kw {
        background-color: #FFEFC5;
    }
</style>

<script>
    $(document).ready(function(){
        $(".rating").rating('disable');
    });

</script>
{% endblock display %}