{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    <div class="ui fluid buttons">
        <a class="ui basic primary button" id="export_record" href="{% url 'kol:export_record' %}">导出</a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'nrdl_price:subjects' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui red vertical segment">
        <h3 class="ui header">
            谈判年份
        </h3>
        <div class="ui labels">
            {% for year in filtered_years %}
                {% if year.subject_negotiations__nego_date in selected_years %}
                    <a class="ui red label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request year=year.subject_negotiations__nego_date %}">
                        {{ year.subject_negotiations__nego_date|date:"Y" }} <div class="detail">({{ year.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request year=year.subject_negotiations__nego_date %}">
                        {{ year.subject_negotiations__nego_date|date:"Y"}} <div class="detail">({{ year.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui violet vertical segment">
        <h3 class="ui header">
            城市
        </h3>
        <div class="ui labels">
            {% for city in filtered_cities %}
                {% if city.kol__hospital__city in selected_cities %}
                    <a class="ui violet label" href="{% url 'kol:records' %}?{% add_query_params request city=city.kol__hospital__city %}">
                        {{ city.kol__hospital__city }} <div class="detail">({{ city.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'kol:records' %}?{% add_query_params request city=city.kol__hospital__city %}">
                        {{ city.kol__hospital__city }} <div class="detail">({{ city.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui purple vertical segment">
        <h3 class="ui header">
            拜访日期
        </h3>
        <div class="ui labels">
            {% for month in filtered_months %}
                {% if month.month|date:"Y-m-d" in selected_months %}
                    <a class="ui purple label" href="{% url 'kol:records' %}?{% add_query_params request month=month.month %}">
                        {{ month.month|date:"Y-m" }} <div class="detail">({{ month.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'kol:records' %}?{% add_query_params request month=month.month %}">
                        {{ month.month|date:"Y-m" }} <div class="detail">({{ month.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>