{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    <div class="ui fluid buttons">
        <a class="ui primary button" id="export" href="{% url 'nrdl_price:export' %}">导出</a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'nrdl_price:subjects' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui orange vertical segment">
        <h3 class="ui header">
            特殊品种
        </h3>
        <div class="ui labels">
            {% for ni in qs_new_indication %}
                {% if ni.subject_negotiations__new_indication == True %}
                    {% if selected_new_indication == True %}
                        <a class="ui orange label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request new_indication=True %}">
                            适应症改变 <div class="detail">({{ ni.count }})</div>
                            <i class="delete icon"></i>
                        </a>
                    {% else %}
                        <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request new_indication=True %}">
                            适应症改变 <div class="detail">({{ ni.count }})</div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for ne in qs_is_exclusive %}
                {% if ne.subject_negotiations__is_exclusive == False %}
                    {% if selected_no_exclusive == True %}
                        <a class="ui orange label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request no_exclusive=True %}">
                            非独家品种 <div class="detail">({{ ne.count }})</div>
                            <i class="delete icon"></i>
                        </a>
                    {% else %}
                        <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request no_exclusive=True %}">
                            非独家品种 <div class="detail">({{ ne.count }})</div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui red vertical segment">
        <h3 class="ui header">
            谈判年份
        </h3>
        <div class="ui labels">
            {% for year in qs_years %}
                {% if year.subject_negotiations__nego_date in selected_years %}
                    <a class="ui red label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request year=year.subject_negotiations__nego_date %}">
                        {{ year.subject_negotiations__nego_date|date:"Y" }} <div class="detail">({{ year.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request year=year.subject_negotiations__nego_date %}">
                        {{ year.subject_negotiations__nego_date|date:"Y" }} <div class="detail">({{ year.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui violet vertical segment">
        <h3 class="ui header">
            TC I
        </h3>
        <div class="ui labels">
            {% for tc1 in qs_tc1s %}
                {% if tc1.tc4__tc3__tc2__tc1__name_cn in selected_tc1s %}
                    <a class="ui violet label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request tc1=tc1.tc4__tc3__tc2__tc1__name_cn %}">
                        {{ tc1.tc4__tc3__tc2__tc1__name_cn }} <div class="detail">({{ tc1.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request tc1=tc1.tc4__tc3__tc2__tc1__name_cn %}">
                        {{ tc1.tc4__tc3__tc2__tc1__name_cn }} <div class="detail">({{ tc1.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui purple vertical segment">
        <h3 class="ui header">
            TC II
        </h3>
        <div class="ui labels">
            {% for tc2 in qs_tc2s %}
                {% if tc2.tc4__tc3__tc2__name_cn in selected_tc2s %}
                    <a class="ui purple label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request tc2=tc2.tc4__tc3__tc2__name_cn %}">
                        {{ tc2.tc4__tc3__tc2__name_cn }} <div class="detail">({{ tc2.count }})</div>
                        <i class="delete icon"></i>
                    </a>
                {% else %}
                    <a class="ui label" href="{% url 'nrdl_price:subjects' %}?{% add_query_params request tc2=tc2.tc4__tc3__tc2__name_cn %}">
                        {{ tc2.tc4__tc3__tc2__name_cn }} <div class="detail">({{ tc2.count }})</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>