{% extends "potential/potential.html" %}

{% block display %}


<!-- 数据处理时的loading遮罩 -->
<div class="ui active dimmer" id="dimmer">
</div>
<div class="ui active dimmer" id="dimmer_dummy" style="height: 100vh">
    <div class="ui text" style="color: #FFFFFF;">请使用左侧筛选框选择分析维度和定义市场</div>
</div>


<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->
<div class="ui pointing secondary menu">
    <a class="item active" data-tab="total"><i class="circle icon"></i>总体表现</a>
    <a class="item" data-tab="cross_table"><i class="th icon"></i>综合分析</a>
    <a class="item" data-tab="plot_bubble_contrib"><i class="yen sign icon"></i>潜力 vs. 销售</a>
    <a class="item" data-tab="plot_bubble_allocation"><i class="asterisk icon"></i>覆盖 vs. 上量</a>
    <a class="item" data-tab="hps"><i class="hospital icon"></i>终端明细</a>
</div>
<div class="ui tab segment active" data-tab="total">
    <h3 class="ui header">
        <div class="content">
            潜力 vs. 覆盖 vs. 渗透
            <div class="sub header">KPIs</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->

    <div class="ui segment">
        <a class="ui red ribbon label">定义市场潜力</a>
        <div class="ui small three statistics">
            <div class="statistic">
                <div class="value" id="potential_total">
                </div>
                <div class="label">
                    总潜力(DOT)
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="number_total">
                </div>
                <div class="label">
                   终端数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="share_total">
                </div>
                <div class="label">
                    信立坦所有终端份额(DOT %)
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <a class="ui blue ribbon label">信立坦目标</a>
        <div class="ui small three statistics">
            <div class="statistic">
                <div class="value" id="potential_target">
                </div>
                <div class="label">
                    信立坦目标终端覆盖潜力(DOT %)
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="number_target">
                </div>
                <div class="label">
                    信立坦目标终端数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="share_target">
                </div>
                <div class="label">
                    信立坦目标终端份额(DOT %)
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <a class="ui purple ribbon label">信立坦有量（开户概念）</a>
        <div class="ui small three statistics">
            <div class="statistic">
                <div class="value" id="potential_sales">
                </div>
                <div class="label">
                    信立坦有量终端覆盖潜力(DOT %)
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="number_sales">
                </div>
                <div class="label">
                    信立坦有量终端数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" id="share_sales">
                </div>
                <div class="label">
                    信立坦有量终端份额(DOT %)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui tab segment" data-tab="cross_table">
    <h3 class="ui header">
        <div class="content">
            综合分析（潜力、覆盖、上量）
            <div class="sub header">数据表格

            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui top attached button" tabindex="0"
         onclick="selectElementContents( document.getElementById('table_pivot') );"
         data-content="复制成功" data-position="bottom center">
        <i class="copy icon"></i>
        复制到剪贴板
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui container" id='table_pivot_div' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
    </div>
</div>
<div class="ui tab segment" data-tab="plot_bubble_contrib">
    <h3 class="ui header">
        <div class="content">
            潜力贡献（所有终端） versus 信立坦销售贡献
            <div class="sub header">带线性拟合的气泡图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <img id="plot_bubble_contrib" style="width: 100%" alt="" />
    </div>
    <h3 class="ui header">
        <div class="content">
            潜力贡献（信立坦有量终端） versus 信立坦销售贡献
            <div class="sub header">带线性拟合的气泡图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <img id="plot_bubble_contrib2" style="width: 100%" alt="" />
    </div>
</div>
<div class="ui tab segment" data-tab="plot_bubble_allocation">
    <h3 class="ui header">
        <div class="content">
            覆盖 versus 上量
            <div class="sub header">气泡图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <img id="plot_bubble_allocation" style="width: 100%" alt="" />
    </div>
</div>
<div class="ui tab segment" data-tab="hps">
    <h3 class="ui header">
        <div class="content">
            终端潜力
            <div class="sub header">数据表格

            </div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui top attached button" tabindex="0"
         onclick="selectElementContents( document.getElementById('table_hp') );"
         data-content="复制成功" data-position="bottom center">
        <i class="copy icon"></i>
        复制到剪贴板
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui container" id='table_hp_div' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <table cellpadding="0" cellspacing="0" border="0" id="table_hp" class="ui celled table">
        </table>
    </div>
</div>



<div class="ui modal" id="modal_options">
    <div class="header">
        查询选项
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <div class="ui toggle checkbox" id="toggle_limit_show">
                    <input type="checkbox" name="output" checked>
                    <label>只显示前200的结果</label>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
              <div class="field">
                <label>自定义SQL</label>
                <textarea id="customized_sql"></textarea>
              </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button">OK</div>
    </div>
</div>

<style>
#dimmer_dummy
{
    background: rgba(255, 255, 255, 0) !important;
}
</style>
<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
    $('.ui.radio.checkbox')
      .checkbox()
    ;
</script>
<script>
    // 复制有node结构的文本区域
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
        document.execCommand("Copy");
    }
</script>
<script>
    // 按钮点击后有弹出文本，显示data-content内容“复制成功”
    $('.ui.top.attached.button')
        .popup({
            on: 'click'
        })
    ;
</script>
<script>
    $("#export_pivot").click(function(){
        var form_data = getForm();

        var downloadUrl = '{% url 'internal_sales:export' 'pivoted' %}'+ '?' + $.param(form_data, true);
        window.location.href = downloadUrl;
    });

    $("#export_raw").click(function(){
        var form_data = getForm();

        var downloadUrl = '{% url 'internal_sales:export' 'raw' %}'+ '?' + $.param(form_data, true);
        window.location.href = downloadUrl;
    })
</script>
{% endblock display %}