<div class="ui container">
    <div class="ui form">
        <form action="" method="post">
            <!-- 在Django所有的 POST 表单元素时，需要加上下方的csrf_token tag，主要是安全方面的机制 -->
            {% csrf_token %}
            <h3 class="ui header" id="analysis">分析维度</h3>
            <div class="field">
                <select
                    name="DIMENSION_select"
                    id="DIMENSION_select"
                    class="ui fluid tiny search dropdown"
                >
                    {% for key, value in mselect_dict.items %}
                        {% if key != "产品" %}
                            <option value="{{ value.select }}">{{ key }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <h3 class="ui header" id="data_filter">数据筛选</h3>
            <!-- prettier-ignore -->
            <div class="field">
                {% for key, value in mselect_dict.items %}
                    <div class="field">
                        <select name='{{ value.select|add:"_select[]" }}' id='{{ value.select|add:"_select" }}' {% if key != "产品" %}multiple=""{% endif %}
                            class="ui fluid tiny search dropdown">
                            <option value="">{{ key }}</option>
                            {% for item in value.options %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
            <br />
            <div class="ui fluid buttons">
                <!--<input class="ui button" type="reset" id="reset"/>-->
                <!--<div class="or"></div>-->
                <input
                    class="ui blue button"
                    type="button"
                    id="AJAX_get"
                    value="查询"
                />
                <input
                    class="ui blue basic button"
                    type="button"
                    id="show_options"
                    value="选项"
                />
            </div>
        </form>
    </div>
</div>

<script>
    function submitForm() {
        //获取form表单对象
        var form = document.getElementById("myform");
        form.submit(); //form表单提交
    }
</script>

<!-- 因为用到Semantic UI的Search Dropdown控件，必须有下面语句初始化 -->
<script>
    $(".ui.fluid.search.dropdown").dropdown({
        fullTextSearch: true,
    });
</script>

<script>
    $("#show_options").click(function () {
        $("#modal_options")
            .modal({
                closable: false,
                onApprove: function () {
                    $("#modal_options").modal("hide");
                },
            })
            .modal("show");
    });
</script>

<script type="text/javascript">
    $("#AJAX_get").click(function (event) {
        event.preventDefault(); // 防止表单默认的提交
        var dimmer_dummy = $("#dimmer_dummy"); // 使用一个透明dummy dimmer保证loading文字一直显示在viewport中央
        $("#dimmer").attr('class', 'ui active dimmer');
        dimmer_dummy.attr('class', 'ui active dimmer'); // 非透明的dimmer依旧负责遮罩功能，点击筛选按钮后dimmer变成active
        dimmer_dummy.children('div').remove(); // 删除初始化文字
        dimmer_dummy.append('<div class="ui text loader">数据加载中……</div>'); // 增加loading效果和文字

        // Pyecharts图表初始化

        // 获取交互表单数据
        var form_data = getForm();
        var product = form_data["PRODUCT_select"];

        // 根据参数生成终端echarts scatter图
        // Echarts初始化
        var scatter = initChart('scatter');
        // prettier-ignore
        var url_scatter_data = '{% url 'potential:scatter_data' %}';
        $.ajax({
            type: "POST",
            url: url_scatter_data,
            dataType: "json",
            data: {
                formdata: JSON.stringify(form_data),
            },
            success: function (ret) {
                updateChart(scatter, getScatterOptions(ret["data"], 0, ret["sales_max"] ));
            },
            error: function () { //失败
                console.log('散点图绘制失败');
            }
        });

        // 根据参数生成服务器端dt表格
        // prettier-ignore
        var url_table_hp = '{% url 'potential:table_hp' %}';
        var columns_table_hp = [{
                title: "医院编码",
                data: "hp_id"
            },
            {
                title: "医院名称",
                data: "hp_name"
            },
            {
                title: "省份",
                data: "province"
            },
            {
                title: "城市",
                data: "city"
            },
            {
                title: "地区经理",
                data: "am"
            },
            {
                title: "负责代表",
                data: "rsp"
            },
            {
                title: "医院类型",
                data: "hp_type"
            },
            {
                title: "是否目标",
                data: "status"
            },
            {
                title: "潜力分位",
                data: "decile"
            },
            {
                title: "潜力值(DOT)",
                data: "potential_dot"
            },
            {
                title: product + "MAT销售(DOT)",
                data: "mat_sales"
            },
            {
                title: product + "份额(%)",
                data: "share"
            },
        ];
        var columnDefs_table_hp = [{
                "width": "5%",
                "targets": [7, 8, 11]
            }, // 保持表格相对列宽度固定
            {
                "width": "10%",
                "targets": [0, 4, 6, 9,10]
            }, // 保持表格相对列宽度固定
            {
                "targets": [11],
                "render": $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#00bfff',
                    '#E6E6E6', 1, 'ridge')
            }, // 根据一定的色彩方案初始化条形图
        ];

        // 终端明细表格太大，采用Ajax服务器端更新数据的方法，因此单独与后端通信
        $("#table_hp").DataTable(
            initAjaxDataTable(url_table_hp, columns_table_hp, form_data, 9, columnDefs_table_hp)
        )

        var columnDefs_table_pivot = [{
                type: 'percent',
                width: "8%",
                targets: [2, 3, 4, 6, 7, 8, 9, -1, -2]
            },
            {
                "width": "10%",
                "targets": [1, 5]
            }, // 保持表格相对列宽度固定
            {
                targets: [2],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#00bfff', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
            {
                targets: [3, 4],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#FFD700', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
            {
                targets: [6],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#CAB1F5', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
            {
                targets: [7, 8, 9],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#FFABD1', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
            {
                "targets": [-1, -2], // 指定倒数第1,2列贡献比
                "createdCell": function (td, cellData, rowData, row, col) {
                    var value_idx = parseFloat(cellData.replace('%', ''));
                    if (value_idx < 100) {
                        $(td).css('color', 'red')
                    } else if (value_idx >= 100) {
                        $(td).css('color', 'green')
                    }
                }
            },
        ];
        var columnDefs_table_pivot_potential = [{
                type: 'percent',
                width: "8%",
                targets: [3, 5, 7, 8, 9]
            },
            {
                "width": "8%",
                "targets": [1, 4, 6]
            }, // 保持表格相对列宽度固定
            {
                "width": "10%",
                "targets": [2, -1, -2]
            }, // 保持表格相对列宽度固定
            {
                targets: [3, 9],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#00bfff', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
            {
                targets: [5, 7, 8],
                render: $.fn.dataTable.render.percentBar('square', '#000', '#BCBCBC', '#FFD700', '#E6E6E6',
                    1, 'ridge') // 根据一定的色彩方案初始化条形图
            },
        ];

        $.ajax({
            // 请求的url
            // prettier-ignore
            url: '{% url 'potential:query' %}',
            // 请求的type
            type: 'GET',
            // 发送的数据
            data: form_data,
            // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
            success: function (ret) { //成功执行
                // 去除加载遮罩（去掉active）
                dimmer_dummy.attr('class', 'ui dimmer');
                $("#dimmer").attr('class', 'ui dimmer');

                // 总体指标
                var kpi = ret["kpi"]
                var product = ret["product"]
                $("#potential_total").html(kpi["潜力(DOT)"].toLocaleString());
                $("#number_total").html(kpi["终端数量"].toLocaleString());
                $("#share_total").html(toPercent(kpi[product + "所有终端份额(DOT %)"]));
                $("#label_share_total").html(product + "所有终端份额(DOT %)");
                $("#potential_target").html(toPercent(kpi[product + "目标终端覆盖潜力(DOT %)"]));
                $("#label_potential_target").html(product + "目标终端覆盖潜力(DOT %)");
                $("#number_target").html(kpi[product + "目标终端数"].toLocaleString());
                $("#label_number_target").html(product + "目标终端数");
                $("#share_target").html(toPercent(kpi[product + "目标终端份额(DOT %)"]));
                $("#label_share_target").html(product + "目标终端份额(DOT %)");
                $("#potential_sales").html(toPercent(kpi[product + "有量终端覆盖潜力(DOT %)"]));
                $("#label_potential_sales").html(product + "有量终端覆盖潜力(DOT %)");
                $("#number_sales").html(kpi[product + "有量终端数"].toLocaleString());
                $("#label_number_sales").html(product + "有量终端数");
                $("#share_sales").html(toPercent(kpi[product + "有量终端份额(DOT %)"]));
                $("#label_share_sales").html(product + "有量终端份额(DOT %)");

                $("#label_ribbon_target").html(product + "目标");
                $("#label_ribbon_sales").html(product + "有量（开户概念）");

                // 展示datatables表格
                $("#table_pivot_div").html(ret['table_pivot']);
                initTable($("#table_pivot"), 1, columnDefs_table_pivot);
                $("#table_pivot_potential_div").html(ret['table_pivot_potential']);
                initTable($("#table_pivot_potential"), 2, columnDefs_table_pivot_potential);

                // 展示Matplotlib气泡图
                $("#plot_bubble_contrib").attr('src', ret['plot_bubble_contrib']);
                $("#plot_bubble_contrib2").attr('src', ret['plot_bubble_contrib2']);
                $("#plot_bubble_allocation").attr('src', ret['plot_bubble_allocation']);
                $("#plot_bubble_allocation2").attr('src', ret['plot_bubble_allocation2']);

                // 动态修改label
                if (ret["bubble_limit_works"] === true){
                    $("[id*='bubble_label']").html("Top" + ret["bubble_limit"])
                }
                else {
                    $("[id*='bubble_label']").remove()
                }

            },
            error: function () { //失败
                console.log('失败');
                dimmer_dummy.children('div').text('有错误发生，无法完成查询'); // AJAX回调失败则报错
            }
        });
    })
</script>

<script>
    function toPercent(str) {
        if (isNaN(str) === false) {
            var strP = Number(str * 100).toFixed(1);
            strP += "%";
        } else {
            strP = str;
        }
        return strP;
    }
</script>
<script>
    function initChart(chart_id) {
        var chart = echarts.init(document.getElementById(chart_id), "white", {
            renderer: "canvas",
        });
        chart.showLoading({
            text: "正在加载数据",
        }); //增加加载提示
        return chart;
    }
</script>
<script>
    function updateChart(chart, chart_options) {
        chart.clear();
        if (chart_options !== "null") {
            chart.setOption(chart_options);
            chart.hideLoading();
        }
    }
</script>
<script>
    // prettier-ignore
    function getForm() {
        // 获取单选下拉框的值
        var form_data = {
            "DIMENSION_select": $("#DIMENSION_select").val(),
        };

        // 获取多选下拉框的值
        var dict = {{ mselect_dict|safe }};
        for (key in dict) {
            var form_name = dict[key]['select'] + "_select";
            jquery_selector_id = "[id='" + form_name + "']"; //因为我们的部分多选框id有空格，要用这种写法
            form_data[form_name] = $(jquery_selector_id).val();
        }

        // 获取输出选项modal的值
        form_data["bubble_limit"] = $("#bubble_limit").val();
        form_data["customized_sql"] = $("#customized_sql").val();

        return form_data
    }
</script>

<script>
    function initChart(chart_id) {
        var chart = echarts.init(document.getElementById(chart_id), "white", {
            renderer: "canvas",
        });
        chart.showLoading({
            text: "正在加载数据",
        }); //增加加载提示
        return chart;
    }
</script>

<script>
    function updateChart(chart, chart_options) {
        chart.clear();
        if (chart_options !== "null") {
            chart.setOption(chart_options);
            chart.hideLoading();
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
        });
    });
</script>

<script>
    function initTable(table, orderBy, columnDefs) {
        table.DataTable({
            order: [[orderBy, "desc"]], // 初始以第2列（注意第一列索引为0）由高到低排序
            pageLength: 25, // 前端分页，初始每页显示25条记录
            autoWidth: false, // 不自动调整表格宽度
            oLanguage: {
                // UI Label本地化
                sLengthMenu: "显示 _MENU_ 项结果",
                sProcessing: "处理中...",
                sZeroRecords: "没有匹配结果",
                sInfo: "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                sInfoEmpty: "没有数据",
                sInfoFiltered: "(获取 _MAX_ 条客户档案)",
                sInfoPostFix: "",
                sSearch: "搜索:",
                sUrl: "",
                sEmptyTable: "未查询到数据",
                sLoadingRecords: "载入中...",
                sInfoThousands: ",",
                oPaginate: {
                    sFirst: "首页",
                    sPrevious: "上页",
                    sNext: "下页",
                    sLast: "末页",
                },
            },
            columnDefs: columnDefs,
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "percent-pre": function (a) {
                var x =
                    a == "+nan%" ||
                    a === "nan%" ||
                    a === "-nan%" ||
                    a === "inf%" ||
                    a === "+inf%" ||
                    a === "-inf%"
                        ? 0
                        : a.replace(/%/, "");
                return parseFloat(x);
            },

            "percent-asc": function (a, b) {
                return a < b ? -1 : a > b ? 1 : 0;
            },

            "percent-desc": function (a, b) {
                return a < b ? 1 : a > b ? -1 : 0;
            },
        });
    }
</script>

<script>
    // Ajax table初始化方法
    function initAjaxDataTable(
        urlParam,
        columnsParam,
        form_data,
        orderBy,
        columnDefs
    ) {
        return {
            order: [[orderBy, "desc"]], // 初始以第2列（注意第一列索引为0）由高到低排序
            pageLength: 25, // 前端分页，初始每页显示25条记录
            destroy: true, //每次初始化前会先摧毁已经存在的表格对象
            sPaginationType: "full_numbers", //分页风格，full_number会把所有页码显示出来
            searching: true, //搜索
            ordering: true, //是否启用排序
            autoWidth: false, // 关闭自动调整表格宽度
            bProcessing: true, //是否显示加载
            sAjaxSource: urlParam, //请求资源路径
            serverSide: true, //开启服务器处理模式
            /*
                 使用ajax，在服务端处理数据
                 sSource:即是"sAjaxSource"
                 aoData:要传递到服务端的参数
                 fnCallback:处理返回数据的回调函数
            */
            fnServerData: function (sSource, aoData, fnCallback) {
                $.ajax({
                    type: "POST",
                    url: sSource,
                    dataType: "json",
                    data: {
                        aodata: JSON.stringify(aoData),
                        formdata: JSON.stringify(form_data),
                    },
                    success: function (resp) {
                        fnCallback(resp);
                    },
                });
            },
            oLanguage: {
                //语言设置
                sLengthMenu:
                    '<select class="form-control" style="width:150px">' +
                    '<option value="10" selected>每页显示10条</option>' +
                    '<option value="25">每页显示25条</option>' +
                    '<option value="50">每页显示50条</option>' +
                    '<option value="100">每页显示100条</option>' +
                    "</select>",
                sProcessing: "处理中...",
                sZeroRecords: "没有匹配结果",
                sInfo: "显示第 _START_ 至 _END_ 条客户档案，共 _TOTAL_ 条",
                sInfoEmpty: "没有数据",
                sInfoFiltered: "(获取 _MAX_ 条客户档案)",
                sInfoPostFix: "",
                sSearch: "搜索:",
                sUrl: "",
                sEmptyTable: "表中数据为空",
                sLoadingRecords: "载入中...",
                sInfoThousands: ",",
                oPaginate: {
                    sFirst: "首页",
                    sPrevious: "上页",
                    sNext: "下页",
                    sLast: "末页",
                },
            },
            columnDefs: columnDefs,
            bServerSide: true, //开启服务器模式，使用服务器端处理配置datatable。
            columns: columnsParam,
        };
    }
</script>
<script>
    function getScatterOptions(data, dataMin, dataMax) {
        console.log(data);
        var option = {
            grid: {
                right: "12%",
            },
            visualMap: [
                {
                    type: "continuous",
                    min: dataMin,
                    max: dataMax,
                    dimension: 3,
                    orient: "vertical",
                    top: "center",
                    right: 0,
                    text: ["高销量", "低销量"],
                    show: false,
                    calculable: true,
                    inRange: {
                        color: ["#8C000F", "#84B701", "#054907"],
                        symbolSize: [5, 20],
                    },
                },
            ],
            dataZoom: [
                {
                    type: "slider",
                    show: true,
                    xAxisIndex: [0],
                    start: 0,
                    end: 100,
                    filterMode: "filter",
                },
                {
                    type: "slider",
                    left: 0,
                    show: true,
                    yAxisIndex: [0],
                    start: 0,
                    end: 100,
                    filterMode: "empty",
                },
                {
                    type: "inside",
                    xAxisIndex: [0],
                },
                {
                    type: "inside",
                    yAxisIndex: [0],
                },
            ],
            tooltip: {
                trigger: "item",
                axisPointer: {
                    type: "cross",
                },
                backgroundColor: "rgba(255,255,255,0.95)", //设置背景图片 rgba格式
                color: "black",
                borderWidth: "1", //边框宽度设置1
                borderColor: "gray", //设置边框颜色
                textStyle: {
                    color: "black", //设置文字颜色
                },
            },
            xAxis: [
                {
                    name: "终端潜力值(DOT)",
                    type: "value",
                },
            ],
            yAxis: [
                {
                    name: "MAT销售(DOT)",
                    type: "value",
                },
            ],
            series: [
                {
                    type: "scatter",
                    dimensions: [
                        "终端名称",
                        "状态",
                        "潜力",
                        "销量",
                        "地区经理",
                        "代表",
                        "类型",
                        "DECILE",
                    ],
                    encode: {
                        x: 2,
                        y: 3,
                        tooltip: [1, 6, 7, 8, 4, 5, 2, 3],
                        itemName: 0,
                        itemGroup: 1,
                    },
                    symbolSize: 6,
                    data: data,
                    emphasis: {
                        focus: "self",
                    },
                },
            ],
        };
        return option;
    }
</script>
