{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'policy_feed:feeds' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui red vertical segment">
        <h3 class="ui header">
            筛选区域
        </h3>
        <div class="ui labels">
            {% for region in all_regions %}
            {% if region in regions_selected %}
            <a class="ui red label" href="{% url 'policy_feed:feeds' %}?{% add_query_params request region=region %}">
                {{ region }}
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'policy_feed:feeds' %}?{% add_query_params request region=region %}">
                {{ region }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui purple vertical segment">
        <h3 class="ui header">
            筛选信息源
        </h3>
        <div class="ui labels">
            {% for source in all_sources %}
            {% if source in sources_selected %}
            <a class="ui purple label" href="{% url 'policy_feed:feeds' %}?{% add_query_params request source=source %}">
                {{ source }}
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'policy_feed:feeds' %}?{% add_query_params request source=source %}">
                {{ source }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui violet vertical segment">
        <h3 class="ui header">
            信息采集时间
        </h3>
        <span>更新于{{ fetch_date.fetch_date__min|date:"Y-m-d" }}</span>
    </div>
</div>

