<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "medical_info/index.html" %}
{% load humanize %}
{% load tags %}
{% load taggit_templatetags2_tags %}

{% block title %}医学信息平台{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block display %}
    <div class="ui container">
        {% if post %}
            <div class="ui big breadcrumb">
                <a href="{% url "medical_info:posts" %}" class="section">返回首页</a>
            </div>
            <div class="ui divider"></div>
            <div class="item">
                <div class="content">
                    {% if post.title_cn %}
                        <h2 class="ui header">
                            {% comment %} <i class="bookmark outline icon"></i> {% endcomment %}
                            <div class="content">
                                {{ post.title_cn }}
                                {% if post.title_en %}
                                    <div class="sub header">{{ post.title_en }}</div>
                                {% endif %}
                            </div>
                        </h2>
                    {% else %}
                        {% if post.title_en %}
                            <h2 class="ui header">
                                {% comment %} <i class="leanpub icon"></i> {% endcomment %}
                                <div class="content">
                                    {{ post.title_en }}
                                </div>
                            </h2>
                        {% endif %}
                    {% endif %}

                    <div class="meta">
                        <span class="pub_agent" data-tooltip="{{ post.pub_agent.full_name }}"><i>{{ post.pub_agent.abbr_name }}.</i></span>
                        <span class="pub_date"><i>{{ post.pub_date }}</i></span>
                        <span class="pub_identifier"><i>{{ post.pub_identifier }}</i></span>
                        {% for nation in post.nation.all %}
                            <i class="{{ nation.code }} flag" title="{{ nation.name }}"></i>
                        {% endfor %}
                    </div>
                    <div class="description">
                        <p>{{ post.abstract }}</p>
                    </div>
                    <div class="extra">
                        标签：
                        {% for tag in post.tags.all %}
                            {% if tag.name == "含医学部解读" %}
                                <a class="ui red label" href="{% url 'medical_info:posts' %}?tag={{ tag.pk }}">
                                    <i class="info icon"></i>
                                    {{ tag }}
                                </a>
                            {% else %}
                                <a class="ui label" href="{% url 'medical_info:posts' %}?tag={{ tag.pk }}">
                                    {{ tag }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="extra">
                        {% if post.program %}
                            <div class="ui pointing basic label">
                            <i class="green check icon"></i>
                            发布于
                            <a class="detail" href="{% url 'medical_info:posts' %}?program={{ post.program.pk }}">{{ post.program.name }}{{ post.program.vol }}</a>
                            </div>
                        {% endif %}
                        <div class="ui basic label">
                        <i class="eye icon"></i> {{ post.views }}
                        </div>
                        {% if request.user.is_staff %}
                            <a class="ui red basic label" href="{% url 'medical_info:post_mail_format' post.pk %}">
                                邮件格式
                            </a>
                            <a class="ui red basic label" href="{% url 'admin:medical_info_post_change' post.pk %}">
                                编辑
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui top attached tabular menu">
            {% for img in post.images.all %}
                <a class="{% if forloop.first and post.images.all %}active{% endif %} item" data-tab="image{{ forloop.counter0|add:1 }}">图片{% if not forloop.first %}{{ forloop.counter0|add:1 }}{% endif %}</a>
            {% endfor %}
            {% for doc in post.files.all %}
                <a class="{% if forloop.first and not post.images.all %}active{% endif %} item" data-tab="pdf{{ forloop.counter0|add:1 }}">文档{% if not forloop.first %}{{ forloop.counter0|add:1 }}{% endif %}</a>
            {% endfor %}
            </div>
            {% for img in post.images.all %}
                <div class="ui bottom attached {% if forloop.first and post.images.all  %}active{% endif %} tab segment" data-tab="image{{ forloop.counter0|add:1 }}">
                    <a class="ui blue right ribbon label" href="{{ img.image.url }}" target="_blank"><i class="external alternate icon"></i>在新窗口中打开</a>
                    <div class="ui hidden divider"></div>
                    <img src="{{ img.image.url }}" width="100%" height="100%"></img>
                </div>
            {% endfor %}
            {% for doc in post.files.all %}
                <div class="ui bottom attached {% if forloop.first and not post.images.all %}active{% endif %} tab segment" data-tab="pdf{{ forloop.counter0|add:1 }}">
                    <a class="ui blue right ribbon label" href="{{ doc.file.url }}" target="_blank"><i class="external alternate icon"></i>在新窗口中打开</a>
                    <div class="ui hidden divider"></div>
                    <div class="wrapper" id="wrapper{{ forloop.counter0|add:1 }}">
                        <object width="100%" height="768" type="application/pdf" data="{{ doc.file.url }}">
                            <p>如PDF不可见，请尝试使用其他浏览器</p>
                        </object>
                    </div>
                </div>
            {% endfor %}

            <div class="ui divider"></div>
            <h3 header>相关阅读</h3>
            {% for post_related in posts_related %}
                <div class="ui list">
                    <div class="item">
                        <i class="chevron right icon"></i>
                        <div class="content">
                            {% if post_related.title_cn %}
                                <a class="header" href="{% url 'medical_info:post_detail' post_related.pk %}">{{ post_related.title_cn }}</a>
                                {% if post_related.title_en %}
                                    <div class="description">{{ post_related.title_en }}</div>
                                {% endif %}
                            {% else %}
                                {% if post_related.title_en %}
                                    <a class="header" href="{% url 'medical_info:post_detail' post_related.pk %}">{{ post_related.title_en }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="ui hidden divider"></div>

<script>
    $(document).ready(function () {
        $('.menu .item')
            .tab({'onVisible':function(){
                $(".wrapper").each(function(){
                    var id = $(this).attr("id")
                    $(this).load(location.href + " #" + id);
                })
            }});
    });
</script>

{% endblock display %}





