{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'medical_info:posts' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui red vertical segment">
        {% if "/posts/" not in request.path %}
        <h3 class="ui header">
            标签
            {% if filter_tags.count > 20 %}
            <div class="ui red label" id="label_top20_tags">Top20</div>
            {% endif %}
        </h3>
        <div class="ui labels">
            {% for tag in filter_tags|slice:":20" %}
            {% if tag in tag_selected %}
            <a class="ui red label" href="{% url 'medical_info:posts' %}?{% add_query_params request tag=tag.id %}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?{% add_query_params request tag=tag.id %}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ui labels" id="tags_more" style="display: none;">
            {% for tag in filter_tags|slice:"20:" %}
            {% if tag in tag_selected %}
            <a class="ui red label" href="{% url 'medical_info:posts' %}?{% add_query_params request tag=tag.id %}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?{% add_query_params request tag=tag.id %}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% if filter_tags.count > 20 %}
        <div class="ui bottom attached red mini button" tabindex="0" id="show_all_tags">show all</div>
        {% endif %}
        {% else %}
        <h3 class="ui header">
            标签
            {% if all_tags.count > 20 %}
            <div class="ui red label" id="label_top20_tags">Top20</div>
            {% endif %}
        </h3>
        <div class="ui labels">
            {% for tag in all_tags|slice:":20" %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?tag={{ tag.id }}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
            </a>
            {% endfor %}
        </div>
        <div class="ui labels" id="tags_more" style="display: none;">
            {% for tag in all_tags|slice:"20:" %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?tag={{ tag.id }}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
            </a>
            {% endfor %}
        </div>
        {% if all_tags.count > 20 %}
        <div class="ui bottom attached red mini button" tabindex="0" id="show_all_tags">show all</div>
        {% endif %}
        {% endif %}
    </div>
    <div class="ui purple vertical segment">
        {% if "/posts/" not in request.path %}
        <h3 class="ui header">
            国家
            {% if filter_nations.count > 20 %}
            <div class="ui purple label" id="label_top20_nations">Top20</div>
            {% endif %}
        </h3>
        <div class="ui labels">
            {% for nation in filter_nations|slice:":20" %}
            {% if nation in nation_selected %}
            <a class="ui purple label"
                href="{% url 'medical_info:posts' %}?{% add_query_params request nation=nation.id %}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?{% add_query_params request nation=nation.id %}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ui labels" id="nations_more" style="display: none;">
            {% for nation in filter_nations|slice:"20:" %}
            {% if nation in nation_selected %}
            <a class="ui purple label"
                href="{% url 'medical_info:posts' %}?{% add_query_params request nation=nation.id %}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
                <i class="delete icon"></i>
            </a>
            {% else %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?{% add_query_params request nation=nation.id %}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% if filter_nations.count > 20 %}
        <div class="ui bottom attached purple mini button" tabindex="0" id="show_all_nations">show all</div>
        {% endif %}
        {% else %}
        <h3 class="ui header">
            国家
            {% if all_nations.count > 20 %}
            <div class="ui purple label" id="label_top20_nations">Top20</div>
            {% endif %}
        </h3>
        <div class="ui labels">
            {% for nation in all_nations|slice:":20" %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?nation={{ nation.id }}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
            </a>
            {% endfor %}
        </div>
        <div class="ui labels" id="nations_more" style="display: none;">
            {% for nation in all_nations|slice:"20:" %}
            <a class="ui label" href="{% url 'medical_info:posts' %}?nation={{ nation.id }}">
                <i class="{{ nation.code }} flag"></i>
                <div class="detail">({{ nation.post_count }})</div>
            </a>
            {% endfor %}
        </div>
        {% if all_nations.count > 20 %}
        <div class="ui bottom attached purple mini button" tabindex="0" id="show_all_nations">show all</div>
        {% endif %}
        {% endif %}
    </div>
    <div class="ui violet vertical segment">
        <h3 class="ui header">
            栏目
        </h3>
        {% show_programs %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#show_all_tags").click(function () {
            $("#tags_more").slideToggle('slow', function () {
                if ($("#tags_more").is(':visible')) {
                    $("#show_all_tags").text('show Top20 only');
                } else {
                    $("#show_all_tags").text('show all');
                }
            });
            $("#label_top20_tags").toggle();
        });
        $("#show_all_nations").click(function () {
            $("#nations_more").slideToggle('slow', function () {
                if ($("#nations_more").is(':visible')) {
                    $("#show_all_nations").text('show Top20 only');
                } else {
                    $("#show_all_nations").text('show all');
                }
            });
            $("#label_top20_nations").toggle();
        });
    });
</script>