{% load taggit_templatetags2_tags %}
{% load tags %}

<div class="ui container">
    {% comment %} {% if request.path == '/medical_info/' %} {% endcomment %}
    <div class="ui blue vertical segment">
        <h3 class="ui header">
            搜索
        </h3>
        <form method="get" action="{% url 'medical_info:search' %}" class="ui fluid form">
            {% csrf_token %}
            <div class="field">
                <div class="ui action input">
                    <input type="search" name="kw" placeholder="请输入关键字进行搜索" required>
                    <button type="submit" class="ui blue submit icon button"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui red vertical segment">
        <h3 class="ui header">
            标签
            <div class="ui red label">Top20</div>
        </h3>
        <div class="ui labels">
            {% for tag in filter_tags|slice:20 %}
            <a class="ui {% if tag in tag_selected %}red{% endif %} label" href="{% url 'medical_info:posts' %}?{% add_query_params request tag=tag.id %}">
                {{ tag.name }} <div class="detail">({{ tag.post_count }})</div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="ui purple vertical segment">
        <h3 class="ui header">
            栏目
        </h3>
        {% show_programs %}
    </div>
    {% comment %} {% else %}
    {% get_taglist as tags %}

    <form class="ui form">
        <div class="field">
            <label>标签 {{tag_selected.pk}} </label>
            <div class="field">
                <select name="tag_select" id="tag_select" multiple="" class="ui fluid tiny search dropdown">
                    {% for tag in tags %}
                        
                        <option value="{{ tag.pk }}" {% if tag.pk == tag_selected.pk %}selected{% else %}{% endif %}>{{ tag }} ({{ tag.num_times }})</option>

                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    <script>
        $('.ui.fluid.search.dropdown')
            .dropdown({
                fullTextSearch: true
            });
    </script>
    {% endif %} {% endcomment %}
</div>