<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "chpa_data/base.html" %}
{% load static %}

{% block title %}线性回归预测{% endblock title%}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>


<!-- 写入 base.html 中定义的 content -->
{% block body %}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div id="pusher" class="pusher" style="padding-top:50px">
        <div class="ui grid">
            <div class="four wide column">
                <p>从Excel粘贴数据至下方文本框</p>
                <textarea id="pastein" name="excel_data" style="width:250px;height:150px;"></textarea><br>
                <!-- <input type="button" onclick="javascript:generateTable()" value="Genereate Table"/> -->
                <br><br>
                <p>数据预览</p>
                <hr>
                <div id="excel_table"></div>
            </div>
            <div class="twelve wide column">
                <div type="button" class="ui blue submit button" id="process">执行运算</div>
                <!--<button class="ui blue submit button" id="sum">计算</button>-->
                <div class="ui error message"></div>
            </div>
        </div>
    </div>
</div>


<script>
function generateTable() {
    var data = $('#pastein').val();
    var rows = data.split("\n");

    var table = $('<table />');

    for(var y in rows) {
        var cells = rows[y].split("\t");
        var row = $('<tr />');
        for(var x in cells) {
            row.append('<td>'+cells[x]+'</td>');
        }
        table.append(row);
    }

    // Insert into DOM
    $('#excel_table').html(table);
}

$(document).ready(function() {
	$('#pastein').on('paste', function(event) {
      $('#pastein').on('input', function() {
        generateTable();
        $('#pastein').off('input');
      })
  })
});

$("#process").click(function () {
    var html_string = $("#excel_table").html();
    $.get("{% url 'forecast:ajax_process' %}", { 'html_string': html_string, }, function (ret) {
    })
});

</script>

<style>
table{
border-collapse:collapse;
border:1px solid #000000;
}

table td{
border:1px solid #000000;
}
</style>
{% endblock body %}





